@model List<Employee>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

@*<table class="table table-bordered" id="employee">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Position</th>
            <th scope="col">Department</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.EmployeeName</td>
                <td>@item.EmployeeSurname</td>
                <td>@item.EmployeeEmail</td>
                <td>@item.EmployeePhone</td>
                <td>
                    @if (item.IdPositionsNavigation != null)
                    {
                        @item.IdPositionsNavigation.PositionName
                    }
                    else
                    {
                        <span class="text-danger">No Position</span>
                    }
                </td>
                <td>
                    @if (item.IdDepartmentNavigation != null)
                    {
                        @item.IdDepartmentNavigation.DepartmentName
                    }
                    else
                    {
                        <span class="text-danger">No Department</span>
                    }
                </td>
                <td>
                    <a href="/Employee/EmployeeEdit/@item.IdEmployee" target="_blank">
                        <input type="button" class="btn btn-warning" value="Edit">
                    </a>
                    <button type="button" class="btn btn-danger" data-employeeid="@item.IdEmployee" onclick="confirmDelete(this)">Delete</button>
                </td>

            </tr>
        }
    </tbody>
</table>*@
<div class="container-fluid">
    @* <div class="block-header py-lg-4 py-3">
    <div class="row g-3">
    <div class="col-md-6 col-sm-12">
    <h2 class="m-0 fs-5"><a href="javascript:void(0);" class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Employee List</h2>
    <ul class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="index.html">Lucid</a></li>
    <li class="breadcrumb-item">Employee</li>
    <li class="breadcrumb-item active">Employee List</li>
    </ul>
    </div>
    </div>
    </div>*@

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <ul class="header-dropdown">
                        <li>
                            @*<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addEmployee">Add New</button>*@
                            <a href="/Employee/EmployeeAdd" target="_blank">
                                <input type="button" class="btn btn-success" value="Add New">
                            </a>
                            <div>&nbsp;</div>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <table id="employee_List" class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                @* <th>
                                <div class="form-check d-inline-flex mt-1">
                                <input class="form-check-input select-all" type="checkbox">
                                </div>
                                </th>*@
                                @*         <th></th>*@
                                @* <th>Employee ID</th>*@
                                <th>Name</th>
                                <th>Phone</th>
                                @*                 <th>Join Date</th>*@
                                <th>Role</th>
                                <th scope="col">Department</th>
                                <th scope="col">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*     <td>
                                <div class="form-check d-inline-flex mt-1">
                                <input class="form-check-input" type="checkbox">
                                </div>
                                </td>*@
                                    @* <td>
                                <img src="../dist/assets/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                </td>*@
                                    @*<td><span>@item.IdEmployee</span></td>*@
                                    <td>
                                        <h6 class="mb-0">@item.EmployeeName @item.EmployeeSurname</h6>
                                        <span>@item.EmployeeEmail</span>
                                    </td>
                                    <td><span>@item.EmployeePhone</span></td>
                                    @* <td>24 Jun, 2015</td> *@
                                    <td>
                                        @if (item.IdPositionsNavigation != null)
                                        {
                                            @item.IdPositionsNavigation.PositionName
                                        }
                                        else
                                        {
                                            <span class="text-danger">No Position</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IdDepartmentNavigation != null)
                                        {
                                            @item.IdDepartmentNavigation.DepartmentName
                                        }
                                        else
                                        {
                                            <span class="text-danger">No Department</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="/Employee/EmployeeEdit/@item.IdEmployee" target="_blank">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>

                                        <a href="/Employee/EmployeeDetail/@item.IdEmployee" target="_blank">
                                            <button type="button" class="btn btn-sm btn-outline">
                                                <div class="col-md-3 col-sm-4"> <i class="fa fa-align-left"></i></div>
                                            </button>
                                        </a>

                                        <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" data-employeeid="@item.IdEmployee" onclick="confirmDelete(this)"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Default Size ADD MODAL -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="addEmployee" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Add Contact</h5>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Email ID">
                    </div>
                    <div class="col-12">
                        <input type="number" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Employee ID">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Join Date">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Role">
                    </div>
                    <div class="col-12">
                        <input type="file" class="form-control-file" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted d-block">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        <hr>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Facebook">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Twitter">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Linkedin">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="instagram">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</html>



<!-- core js file -->
<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/datatables.bundle.js"></script>

<script>
    function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to dele te this employee?')) {
            var employeeid = button.getAttribute('data-employeeid');
            var form = document.createElement('form');
            form.action = '/Employee/EmployeeDelete/' + employeeid;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#employee_List')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0]
                    }
                ]
            });
    });
</script>
