@model CrmCorner.Models.Calendar

@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    var events = ViewBag.Calendar;
    var eventsfilter = ViewBag.CalendarFilter;
}

<table id="todoTable" style="display: none; visibility:collapse">
    @foreach (var item in events)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
<style>
    .hidden-section {
        display: none;
    }

    .fc-event {
        background-color: #2eacb3; /* Arka plan rengini maviye değiştir */
        color: #2eacb3; /* Metin rengini beyaza değiştir */
    }

    .custom-padding {
        padding-left: 20px; /* İstediğiniz miktarda boşluk ekleyebilirsiniz */
    }

    #Submit {
        float: right; /* Sağa yaslanması için */
        background-color: #2eacb3; /* Arka plan rengi */
        color: white; /* Yazı rengi */
        font-size: 16px; /* Yazı boyutu */
        padding: 10px 20px; /* Boşluk ayarı */
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5px; /* Köşe yuvarlatma */
    }
</style>
<input type="checkbox" id="myCheckbox" name="myCheckbox" value="true">Sadece benimkileri göster
<div class="row g-3 clearfix">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body" id='my_calendar'></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body">
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Yeni takvim ekle
                </button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">

                @foreach (var item in eventsfilter)
                {
                    <div class="event-name row g-2">
                        <div class="col-2 text-center">
                            <h6>@item.Date</h6>
                        </div>
                        <div class="col-10">
                            <h6 class="mb-0">@item.Title</h6>
                            <p class="mb-0">@item.Description</p>

                        </div>
                    </div>
                }

                <hr>

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("CalendarAdd", "Calendar", FormMethod.Post))
{
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Yeni Takvim Ekle</h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, "Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Date, "Date", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="selectedItemId" name="selectedItemId" />

                        @Html.LabelFor(model => model.Description, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedEmails, "Mail", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <button class="btn btn-default dropdown-toggle" style="width: 70%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleTimeSelection()">
                                    <span id="selectedMailText">Seçili Mail</span>
                                </button>
                                <div class="dropdown-menu" id="selectedMailDropdown" aria-labelledby="dropdownMenuButton">
                                    @{
                                        foreach (var user in (IEnumerable<SelectListItem>)ViewBag.Users)
                                        {
                                            <div class="dropdown-item">
                                                <input type="checkbox" name="SelectedEmails" value="@user.Value" onchange="updateSelectedEmails()" /> @user.Text
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" id="manualEmailCheckbox" onclick="toggleManualEmail(); toggleTimeSelection();">
                                        <label class="form-check-label" for="manualEmailCheckbox">
                                            <span style="font-size: smaller;">Manuel Mail</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control mt-2" id="manualEmailInput" placeholder="Manuel Mail Adresi Girin" style="display: none;" onblur="updateSelectedEmails();">
                            <small class="form-text text-muted" style="display: none;" id="manualEmailInput2">* Manuel mail girişi için eğer birden fazla mail adresi girecekseniz virgülle yazmanız gerekmektedir.</small>
                            @Html.ValidationMessageFor(model => model.SelectedEmails, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <input type="hidden" id="selectedEmails" name="SelectedEmails" />



                </div>
                <div id="timeSelection" class="hidden-section custom-padding">
                    <div class="form-horizontal">
                        <h4>Saat Seçimi</h4>
                        <hr />
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailProperty.StartDate, "Başlangıç Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.EmailProperty.StartDate, new { @id = "timeInput", @class = "form-control", @type = "time" })
                                        @Html.ValidationMessageFor(model => model.EmailProperty.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailProperty.EndDate, "Bitiş Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.EmailProperty.EndDate, new { @id = "timeInput", @class = "form-control", @type = "time" })
                                            @Html.ValidationMessageFor(model => model.EmailProperty.EndDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ekle" id="Submit" class="btn btn-default"  />
                    </div>
                </div>
            </div>


        </div>

    </div>


}



<div id="calendarModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="eventForm" method="post">
                <div class="modal-header">
                    <h5 id="Id" style="display:none"></h5>
                    Takvim Düzenle
                    <h4 id="modalTitle" class="modal-title"></h4>
                      <input type="hidden" id="calendarId" name="Id" value="" />
                </div>
                Title:
                <input type="text" class="form-control" name="Title" id="modalTitle2" required />
                Description:
                <input type="text" class="form-control" id="modalDescription" name="Description" required />
                Start Date:
                <input type="date" id="modalStart" class="form-control" name="Date" required />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-rounded btn-success" formaction="/Calendar/Edit"><i class="fas fa-check-square"></i> EDIT</button>
                    <button type="submit" class="btn btn-rounded btn-danger" formaction="/Calendar/Delete"><i class="fas fa-check-square"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("Submit").addEventListener("click", function () {
        disableButton(this);
        document.querySelector("form").submit();
    });

    function disableButton(button) {
        button.disabled = true;
        button.value = "Ekleniyor..."; // Optional: Change the button text to indicate the process is ongoing
    }



    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            $('#timeSelection').slideDown();
        });
    });



    function toggleManualEmail() {
        var manualEmailInput = document.getElementById("manualEmailInput");
        var manualEmailInput2 = document.getElementById("manualEmailInput2");
        if (manualEmailCheckbox.checked) {
            manualEmailInput.style.display = "block";
            manualEmailInput2.style.display = "block";
        } else {
            manualEmailInput.style.display = "none";
            manualEmailInput2.style.display = "none";
        }
    }
    function toggleTimeSelection() {
        console.log("toggleTimeSelection");
        var timeSelection = document.getElementById('timeSelection');
        timeSelection.classList.remove('hidden-section');

    }
    function updateSelectedEmails() {
        console.log("updateSelectedEmails");
        var selectedEmails = [];
        // Seçili e-posta adreslerini listeye ekle
        var selectedCheckboxes = document.querySelectorAll('input[name="SelectedEmails"]:checked');
        selectedCheckboxes.forEach(function (checkbox) {
            selectedEmails.push(checkbox.value);
        });
        // Manuel olarak girilen e-posta adresini de listeye ekle
        var manualEmailInput = document.getElementById('manualEmailInput');
        if (manualEmailInput.value.trim() !== '') {
            selectedEmails.push(manualEmailInput.value.trim());
        }
        // Listeyi gizli alanın değeri olarak ayarla
        document.getElementById('selectedEmails').value = selectedEmails.join(',');
        console.log(selectedEmails);
    }</script>

<script>let eventsArr = loadData();

    function loadData() {

        let eventsArr = [];

        let todoTable = document.getElementById("todoTable");
        let trElem = todoTable.getElementsByTagName("tr");
        for (let tr of trElem) {
            let tdElems = tr.getElementsByTagName("td");
            let eventObj = {
                id: tdElems[0].innerText,
                title: tdElems[1].innerText,
                start: tdElems[2].innerText,
                description: tdElems[3].innerText,
            }
            eventsArr.push(eventObj);
        }
        return eventsArr;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('my_calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'dayGridMonth',
            events: eventsArr,
            editable: true,
            selectable: true,
            eventClick: function (info) {
                $.ajax({
                    type: 'POST',
                    url: "/Calendar/GetDescription/",
                    encode: true,
                    data: { ID: info.event.id },
                    dataType: "json",
                    success: function (data) {
                        someFunction(data);
                    }
                });
                document.getElementById("modalTitle").innerHTML = info.event.title;
                document.getElementById("modalTitle2").value = info.event.title;
                document.getElementById("modalStart").value = info.event.start.toJSON().slice(0, 10);
                document.getElementById("Id").innerHTML = info.event.id;
                document.getElementById("calendarId").value = info.event.id; // Gizli input alanına ID'yi yerleştir
                $('#calendarModal').modal('show');
            },
        });
        calendar.render();
    });
    function someFunction(data) {
        console.log(data.message);
        document.getElementById("modalDescription").value = data.message;
        document.getElementById("modalDescription").innerHTML = data.message;
    }
    //function DeleteItem() {
    //    var event = document.getElementById("Id").innerHTML;
    //    $.ajax({
    //        type: 'POST',
    //        url: "/Calendar/sendEmail/",
    //        encode: true,
    //        data: { ID: event },
    //        dataType: "json",
    //        success: function () {
    //            $("#calendarModal").modal('hide');
    //            location.reload();
    //        }
    //    });

    //}

    //function UpdateItem() {
    //    var eventId = document.getElementById("Id").innerHTML;
    //    var eventtitle = document.getElementById('modalTitle2').value;
    //    var eventdate = document.getElementById("modalStart").value;
    //    console.log("edit oldu");
    //    $.ajax({
    //        type: 'POST',
    //        url: "/Calendar/CalendarUpdate/",
    //        encode: true,
    //        data: { ID: eventId, title: eventtitle, date: eventdate },
    //        dataType: "json",
    //        success: function () {
    //            $("#calendarModal").modal('hide');
    //            location.reload();
    //        }
    //    });

    //}

    document.getElementById('searchInput').addEventListener('keyup', function (event) {
        // Eğer tuş Enter (keyCode 13) ise veya input boş değilse aramayı gerçekleştir
        console.log("aslında girdi");
        var email = $('#searchInput').val();
        if (email !== '') {
            $.ajax({
                url: "/Calendar/CalendarSearch/",
                type: 'POST',
                data: { email: email },
                dataType: "json",
                success: function (data) {
                    $.each(data.message, function (index, item) {
                        $('#searchInput').val(item);
                    });
                },
                error: function () {
                    $('#result').html('An error occurred while searching.');
                }
            });
        }
    });

    document.getElementById('myCheckbox').addEventListener('change', function (event) {
        // Eğer tuş Enter (keyCode 13) ise veya input boş değilse aramayı gerçekleştir
        console.log("aslında girdi3");
        var isChecked = document.getElementById("myCheckbox").checked;
        $.ajax({
            url: "/Calendar/GetFilterCalendar/",
            type: 'POST',
            data: { ischecked: isChecked },
            dataType: "json",
            success: function (data) {
                $.each(data.message, function (index, item) {
                });
            },
            error: function () {
            }
        });

    });</script>


<!-- core js file -->

<script src="/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/fullcalendar.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


