@model List<CrmCorner.Models.ApolloContactDbModel>

@{
    ViewData["Title"] = "Apollo Kişi Listesi";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
}

<h2 class="mb-3">Apollo Kişi Listesi</h2>

<form asp-action="TransferToTasks" method="post" id="contactTransferForm">
    <div class="table-responsive">
        <table id="contactsTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width:40px;"><input type="checkbox" id="selectAll" /></th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Unvan</th>
                    <th>Şirket</th>
                    <th>Email</th>
                    <th>Güncelleme Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedIds" value="@item.Id" class="selectCheckbox" /></td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Title</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Email</td>
                        <td>@item.UpdatedAt.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Görevlerime Taşı</button>
    </div>
</form>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#contactsTable').DataTable({
                pageLength: 10,
                lengthMenu: [10, 25, 50, 100],
                ordering: true,
                searching: true,
                paging: true,
                info: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json'
                },
                columnDefs: [
                    { orderable: false, searchable: false, targets: 0 }
                ]
            });

            $('#selectAll').on('change', function () {
                $('.selectCheckbox').prop('checked', this.checked);
            });
        });
    </script>
}