@model List<CustomerN>
@{
    ViewData["Title"] = "CustomerList";
}
@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<a href="/Customer/CustomerAdd" target="_self">
    <input type="button" class="btn btn-success" value="Add Customer">
</a>
<div>&nbsp;</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table table-bordered" id="customer_List">
    <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Müşteri Email</th>
            <th scope="col">Pozisyon</th>
            <th scope="col">Telefon Numarası</th>
            <th scope="col">Firma Adı</th>
            <th scope="col">Firme Email</th>
            <th scope="col">Sektör</th>
            <th scope="col">Çalışan Sayısı</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.CustomerEmail</td>
                <td>@item.CustomerTitle</td>
                <td>@item.PhoneNumber</td>
                <td>@item.CompanyName</td>
                <td>@item.CompanyEmail</td>
                <td>
                    <span class="badge bg-success">@item.Industry</span>
                </td>
                @*             <td>
            @if (item.AppUserId!=null)
            {
            <span class="badge bg-success">@item.AppUser!.UserName</span>
            }
            else
            {
            <span class="text-danger">Sorumlu bilgisi eklenmemiştir.</span>
            }

            </td>*@
                <td>@item.EmployeeCount</td>
                <td>
                    <a href="/Customer/CustomerEdit/@item.Id" target="_self">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" data-customerid="@item.Id" onclick="confirmDelete(this)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="row justify-content-center">
<div class="col-6">
    <div class="chart-title">Sektörel Dağılım</div>
    <div style="width: 50%; height: 400px;">
        <canvas id="industuryChart"></canvas>

    </div>
</div>
</div>


<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="~/CRMTema/bootstrap5/dist/assets/bundles/datatables.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/js/pages/widgets/chart-widgets.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to dele te this customer?')) {
            var customerId = button.getAttribute('data-customerid');
            var form = document.createElement('form');
            form.action = '/Customer/CustomerDelete/' + customerId;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#customer_List')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0]
                    }
                ]
            });
    });
</script>
<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Customer/IndustryChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var ctx = document.getElementById('industuryChart').getContext('2d');
                // Dinamik olarak renk seçimi
                var colors = generateColors(data.labels.length);
                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.data,
                            backgroundColor: colors,
                            borderWidth: 1
                        }]
                    },
                });
            },
            error: function (error) {
                // Hata durumunda kullanıcıya bildirim
                console.error('Error fetching data:', error);
                alert('Error fetching data. Please try again later.');
            }
        });

        // Dinamik renk üretimi
        function generateColors(count) {
            var colors = [];
            for (var i = 0; i < count; i++) {
                // Rastgele renk üretme (örneğin)
                var color = '#' + Math.floor(Math.random() * 16777215).toString(16);
                colors.push(color);
            }
            return colors;
        }

    });

</script>