@inject IJsonHelper JsonHelper
@{
    ViewData["Title"] = "ToDoList";
    string[] taskData = ViewBag.TaskData;
    string[] notTaskData = ViewBag.NotTaskData;

}
@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pacifico&display=swap" rel="stylesheet">
<link href="~/css/todo.css"  rel="stylesheet"/>


<div class="wrapper">
    <div id="container1">
        <img src="~/icons/todo/todays1.png" alt="Logo" class="logo">
        <label onclick="show()" class="date">Günüm</label>
    </div>
    <div class="horizontal-line"></div>
    <div id="container3">
        <div id="container4" style=" contain: inline-size;">
            <table class="custom-table" style="width: 50%;">

                @foreach (var item in ViewBag.ToDoList)
                {
                    <tr>
                        <td>
                            <img src="~/icons/todo/lists.png" alt="Logo" class="logo">
                        </td>
                        <td>
                            <label class="todolist" onclick="showItem(@item.Id)">@item.Title</label>
                        </td>
                        <td>
                            <input type="text" id="todolistId" value="@item.Id" style="display:none" />
                        </td>
                        <td>
                            <h9>@item.Count</h9>
                        </td>
                    </tr>

                }
            </table>
            </div>
              
                <div id="Containerlist">
                    <input type="text" id="ekleButton2" placeholder="Liste Ekle">
                </div>
            </div>
    <div class="container" style="padding-left: 10%;margin-top: 7%;"id="container2">
        <div class="row">
            <div class="col-md-10">
                <div style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
                    <div class="card-header" id="todaymaintitle" style="font-family: 'DM Sans', sans-serif;">Bugün;</div>
                    <div class="card-body">
                        <input type="text" style="font-family: 'DM Sans', sans-serif; text-align: center; font-size: xxx-large; border:none; " id="todotitle" class="card-title" placeholder="Yapılacaklar:" value="@ViewBag.TitleValue" />

                        <div class="col-md-8">
                            <input type="button" id="ekleButton" value="+" class="button-plus border rounded-circle icon-shape icon-sm lh-0" data-field="quantity">
                        </div>

                        <div class="todo-list">
                            <table id="table">
                                <tr>
                                    <td>
                                        <label class="taskcontainer" id="kartContainer2"></label>
                                    </td>
                                    <label class="main-goal">
                                        <span>Bugün için asıl hedefim:</span>
                                        <input type="text" id="maingoal" class="maingoal" value="@ViewBag.MainGoalTitle" placeholder="Hedefim">
                                    </label>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" onclick="save()">Kaydet</button>
                        </div>
                        <div id="myModal" class="modal">
                            <!-- Modal içeriği -->
                            <div class="modal-content">
                                <p>Kaydedildi!</p>
                                <span class="close">Tamam</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


<script src="~/js/todo.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    var kartIcerik = `@if (taskData != null) {
            @foreach (var task in taskData)
            {
               <label class="task">
        <input type="checkbox" class="taskCheckbox"  onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" style="text-decoration:line-through"  id="textInput"  name="textValue" placeholder="Yapılacaklar" value="@task">
            </label>
        }
                }
            `;

    var kartIcerik2 = `@if (notTaskData != null) {
                @foreach (var task in notTaskData)
            {
               <label class="task">
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" id="textInput" placeholder="Yapılacaklar"  value="@task">
            </label>
            }
                }
            `;

    var toplam = kartIcerik + kartIcerik2;
    $('#kartContainer2').append(toplam);
    });
function show() {
    document.getElementById("todaymaintitle").style.visibility = "visible";
    document.getElementById("todotitle").readOnly = false;
    document.getElementById("todolistId").value = 1;
    $.ajax({
        type: 'POST',
        url: "/ToDoList/ToDoListDay/",
        encode: true,
        dataType: "json",
        success: function (data) {
            document.getElementById("maingoal").value = data.message.mainGoalTitle;
            document.getElementById("todotitle").value = data.message.title;
            var kartIcerik = '';
            var kartIcerik2 = '';
            alert(data.message.taskData);
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
                <label class="task">
                    <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    <input type="text" style="text-decoration:line-through" id="textInput" name="textValue" placeholder="Yapılacaklar" value="${task}">
                </label>`;
                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
              <label class="task">
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" id="textInput" placeholder="Yapılacaklar"  value="${task2}">
            </label>`;
                }



            }
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);
        }
    });

}
function showItem(id) {
    document.getElementById("todaymaintitle").style.visibility = "hidden";
    document.getElementById("todotitle").readOnly = true;
    document.getElementById("todolistId").value = 2;

    $.ajax({
        type: 'POST',
        url: "/ToDoList/GetToDoList/",
        encode: true,
        data: { id: id },
        dataType: "json",
        success: function (data) {
            console.log(data);
            document.getElementById("maingoal").value = data.message.mainGoalTitle;
            document.getElementById("todotitle").value = data.message.title;
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
                <label class="task">
                    <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    <input type="text" style="text-decoration:line-through" id="textInput" name="textValue" placeholder="Yapılacaklar" value="${task}">
                </label>`;
                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
              <label class="task">
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" id="textInput" placeholder="Yapılacaklar"  value="${task2}">
            </label>`;
                }
            }
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);

        }

    });

}
</script>

