@inject IJsonHelper JsonHelper
@{
    ViewData["Title"] = "ToDoList";
    string[] taskData = ViewBag.TaskData;
    string[] notTaskData = ViewBag.NotTaskData;

}
@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pacifico&display=swap" rel="stylesheet">
<link href="~/css/todo.css" rel="stylesheet" />


<div class="wrapper" style="margin-top:-10%">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="container1">
                    <img src="~/icons/todo/sun.png" alt="Logo" class="logo" style="max-width: 50px; max-height: 50px;">
                    <label onclick="show()" class="date">Günüm</label>
                </div>
                <div class="horizontal-line" style="padding-bottom:15px;width: 97%;margin-left: 1%;"></div>
                <ul class="list-group" style="width: 100%;">
                    @foreach (var item in ViewBag.ToDoList)
                    {
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-2" onclick="showItem(@item.Id)">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" onclick="openPopup('@item.Id'); disableOtherButtons(this);"><img src="~/icons/todo/düzenle.png" alt="Düzenle" style="max-width: 20px;"></button>
                                <img src="~/icons/todo/deneme.png" alt="Logo" style="max-width: 30px; margin-right: 10px;" />
                                <span style="font-size: 14px; margin-right: 5px;">@item.Title</span>
                            </div>
                            <span id="count_@item.Id">@item.Count</span> <!-- id'yi unique hale getir -->
                            <label id="todoId" style="display:none">@item.Id</label> <!-- id değeri gizli bir şekilde burada tutulabilir -->
                        </a>
                    }
                </ul>
                <div id="Containerlist">
                    <input type="text" id="ekleButton2" class="addlist"  style="width: 100%;" placeholder="Liste Ekle..">
                </div>
            </div>
            <div class="col-md-9">
                <div class="container" id="container2">
                    <div class="card" style="background-color: #f4f4f4;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border: 2px solid #2eacb3;">
                        <div class="card-header" style=" background-color: #f4f4f4; text-align: center; font-size: 32px; font-weight: normal;color: #333; margin: 0;" id="todaymaintitle">Günüm</div>
                        <div class="card-body">
                                <h1 class="main-title"></h1>
                            <div class="todo-list">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <label class="task">
                                                <input type="checkbox" class="taskCheckbox" id="taskCheckbox" onclick="clickToDoCheckbox(this)">
                                                <span class="custom-checkbox"></span>
                                                <input type="text" name="textValue" class="textInput2" id="textInput" placeholder="Görev Ekle">
                                            </label>
                                            <div class="taskcontainer" id="kartContainer2"></div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                            <div class="text-end mt-3">
                                <button type="submit" id="deleteToDoList" class="btn btn-danger btn-sm" style="width:auto;visibility:hidden" onclick="deleteToDoList(this)">Listeyi Sil</button>
                                <button type="submit" class="btn btn-primary btn-sm" style="width:auto" onclick="save()">Kaydet</button>
                            </div>
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <p>Kaydedildi!</p>
                                    <span class="close">Tamam</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script>
    function openPopup(itemId) {

        $.ajax({
            type: 'GET',
            url: '/ToDoList/GetTitle/',
            data: { id: itemId },
            success: function (data) {
                // Bilgi metni
                var title = data.message;
                var infoText = "Liste adınızı güncellemek için aşağıdaki kutucuğa giriniz.";
                // Popup içeriğini oluştur
                var popupContent = '<p>' + infoText + '</p>' +
                    '<input type="text" value="' + title + '" onkeypress="handleKeyPress(event, ' + itemId + ')" id="editInput"  style="outline:none;border-bottom:1px solid #333;box-shadow:0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);border:none;font-size:x-large;border: outset;width:-webkit-fill-available">';

                var popupDiv = document.createElement('div');
                popupDiv.innerHTML = popupContent;
                popupDiv.classList.add('popup-containeredit');
                popupDiv.innerHTML = popupContent;
                popupDiv.style.backgroundColor = 'white';
                popupDiv.style.border = '1px solid black';
                popupDiv.style.padding = '20px';
                popupDiv.style.position = 'fixed';
                popupDiv.style.top = '50%';
                popupDiv.style.left = '50%';
                popupDiv.style.transform = 'translate(-50%, -50%)';
                popupDiv.style.zIndex = '9999';

                // Overlay divini oluştur
                var overlayDiv = document.createElement('div');
                overlayDiv.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
                overlayDiv.style.position = 'fixed';
                overlayDiv.style.top = '0';
                overlayDiv.style.left = '0';
                overlayDiv.style.width = '100%';
                overlayDiv.style.height = '100%';
                overlayDiv.style.zIndex = '9998';

                // Overlay'e tıklandığında popup'ı kapat
                overlayDiv.addEventListener('click', function () {
                    document.body.removeChild(popupDiv);
                    document.body.removeChild(overlayDiv);
                });

                // Popup ve overlay divlerini sayfaya ekle
                document.body.appendChild(overlayDiv);
                document.body.appendChild(popupDiv);

                // Edit input alanını seç ve odaklan
                var editInput = document.getElementById('editInput');
                console.log(editInput.value);
                editInput.focus();
            }
         });
    }
    function handleKeyPress(event, itemId) {
        if (event.key === 'Enter') {
            updateTitle(itemId);
        }
    }
    function updateTitle(itemId) {
        var newTitle = document.getElementById('editInput').value;
        console.log(newTitle);
        $.ajax({
            type: 'POST',
            url: "/ToDoList/UpdateTitle/",
            encode: true,
            data: { itemId: itemId, newtitle: newTitle },
            dataType: "json",
            success: function () {
                location.reload();
            }

        });
        var editButtons = document.querySelectorAll('.list-group-item button');

        // Tüm düğmelerin tıklanabilirliğini geri yükle
        editButtons.forEach(function (button) {
            button.disabled = false;
        });
    }
    function disableOtherButtons(clickedButton) {
        // Tüm düzenleme düğmelerini seç
        var editButtons = document.querySelectorAll('.list-group-item button');

        // Tıklanan düğmeyi hariç, diğer düğmelerin tıklanabilirliğini devre dışı bırak
        editButtons.forEach(function (button) {
            if (button !== clickedButton) {
                button.disabled = true;
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
            var kartIcerik = `@if (taskData != null) {
            @foreach (var task in taskData)
            {
                <div>
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30" style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
        <label class="task">
             <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
        <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent" style="text-decoration:line-through"  id="textContent" placeholder="Görev Ekle" value="@task">
        </label>
            </div>
        }
                }
            `;

      var kartIcerik2 = `@if (notTaskData != null) {
                @foreach (var task2 in notTaskData)
            {
               <div>
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30" style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
          <label class="task" >
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this);document.getElementById('delbutton').blur();" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" class="textInput2"  id="textInput" placeholder="Görev Ekle"  value="@task2">
            </label>
             </div>
            }
                }
            `;

    var toplam = kartIcerik + kartIcerik2;
    $('#kartContainer2').append(toplam);
    });


    function deleteToDoList(item) {
        if (confirm("Gerçekten silmek istiyor musunuz?")) {
            var inputElement = document.getElementById("todoId");
            console.log(inputElement.value);
            $.ajax({
                type: 'POST',
                url: "/ToDoList/DeleteToDoList/",
                encode: true,
                data: { itemId: inputElement.value },
                dataType: "json",
                success: function () {
                    location.reload();
                }

            });
        }

    }


    function show() {
        console.log("show a girdi");
    document.getElementById("todaymaintitle").style.display = "block";
    var mainTitle = document.querySelector('.main-title');
    mainTitle.style.display = 'none';
    var labelElement = document.getElementById("todoId");
    console.log(labelElement);

    if (labelElement !== null) {
        // labelElement değişkeni bir değer içeriyorsa (null değilse)
        labelElement.value = 0;
    } else {
        // labelElement değişkeni null ise (hiçbir öğe bulunamazsa)
        console.log("todoId elementi bulunamadı.");
        // Değer yoksa, 0 atama
        labelElement = 0;
    }
    document.getElementById("deleteToDoList").style.visibility = "hidden";
    $.ajax({
        type: 'POST',
        url: "/ToDoList/ToDoListDay/",
        encode: true,
        dataType: "json",
        success: function (data) {
            var baslik = data.message.title;
            $(".main-title").text(baslik);
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
                       <div>
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30" style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
        <label class="task">
             <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
        <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent" style="text-decoration:line-through"  id="textContent" placeholder="Görev Ekle" value="${task}">
        </label>
            </div>`;

                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
                      <div>
                        <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
              <label class="task">
        <input type="checkbox" class="taskCheckbox"  id="taskCheckbox"  onclick="clickToDoCheckbox(this)" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent"  id="textContent" placeholder="Görev Ekle" value="${task2}">
            </label>
             </div>`;
                }
            }
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);
        }
    });

}
    function showItem(id) {
        console.log("showItem a girdi");
        document.getElementById("todaymaintitle").style.display = "none";
        var mainTitle = document.querySelector('.main-title');
        mainTitle.style.display = 'block';
        var labelElement = document.getElementById("todoId");
        console.log("314" + labelElement);

        if (labelElement !== null) {
            labelElement.value = id;
        } else {
            console.log("319" + "todoId elementi bulunamadı.");
            labelElement = id;
        }
        var el = document.querySelector("list-group-item")
        document.getElementById("deleteToDoList").style.visibility = "visible";


    $.ajax({
        type: 'GET',
        url: "/ToDoList/GetToDoList/",
        encode: true,
        data: { id: id },
        dataType: "json",
        success: function (data) {
            var baslik = data.message.title;
            $(".main-title").text(baslik);
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
                      <div>
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30" style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
        <label class="task">
             <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
        <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent" style="text-decoration:line-through"  id="textContent" placeholder="Görev Ekle" value="${task}">
        </label>
            </div>`;
                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
                      <div>
                        <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
              <label class="task">
        <input type="checkbox" class="taskCheckbox"  id="taskCheckbox"  onclick="clickToDoCheckbox(this)" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent"  id="textContent" placeholder="Görev Ekle" value="${task2}">
            </label>
             </div>`;
                }
            }

            //onclick = "clickToDoCheckbox(this)"
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);
        }

    });

}
function addtodo() {
    // Kartın içeriği
    var kartIcerik2 = `
                <div>
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right:1%;margin-left:-8%;cursor: pointer;float: left;">
          <label class="task" >
             <input type="checkbox" class="taskCheckbox" id="taskCheckbox" onclick="clickToDoCheckbox(this)">
             <span class="custom-checkbox"></span>
             <input type="text" name="textContent" class="textContent"  id="textContent" placeholder="Görev Ekle">
           </label>
           </div>
    `;
    // Kartı kartContainer içine ekle
    $('#kartContainer2').append(kartIcerik2);
}

    $(document).on('keyup', '.textInput2', function (event) {
        console.log("girdi")
        if (event.keyCode === 13) {
            event.preventDefault();
            addtodo();
        }
});

$("#ekleButton2").keyup(function (event) {
    if (event.keyCode === 13) {
        var inputElement = document.getElementById("ekleButton2");
        var toDoTitleList = inputElement.value;
        $.ajax({
            type: 'POST',
            url: "/ToDoList/ToDoListAddList/",
            encode: true,
            data: { title: toDoTitleList },
            dataType: "json",
            success: function () {
                location.reload();
            }
        });
    }

});


function clickToDoCheckbox(checkbox) {
    var label = checkbox.parentElement.querySelector('input[type="text"]');
    if (checkbox.checked) {
        label.style.textDecoration = "line-through";

    } else {
        label.style.textDecoration = "none";
    }
}
function textVisibleshow() {
    var inputElement = document.getElementById("textInput");
    inputElement.style.textDecoration = "none";
}

function textVisible() {
    var inputElement = document.getElementById("textInput");
    inputElement.style.textDecoration = "none"; //
}


 function deleteToDo(item) {
        if (confirm("Gerçekten silmek istiyor musunuz?")) {
            var label = item.parentElement.querySelector('input[type="text"]');
            var checkbox = item.parentElement.querySelector('.taskCheckbox');
            console.log(label.value);
            console.log(checkbox.checked);
            var inputElement = document.getElementById("todoId");
            var todoListId = 0;
            if (inputElement != null && typeof inputElement.value !== "undefined")
                todoListId = inputElement.value;
            $.ajax({
                type: 'POST',
                url: "/ToDoList/DeleteToDo/",
                encode: true,
                data: { selectedItem: label.value, itemId: todoListId },
                dataType: "json",
                success: function () {
                    if (todoListId != 0)
                        showItem(inputElement.value);
                    else
                        show();
                    clear();
                    if (todoListId != 0) {
                        var countElement = document.getElementById("count_" + todoListId);
                        if (countElement && !checkbox.checked) {
                            var currentCount = parseInt(countElement.innerText); // Mevcut count değerini al
                            countElement.innerText = currentCount - 1; // Count değerini 1 artırarak güncelle
                        }
                    }

                }

            });


            return false;
        }


 }

function save() {
    var taskLabels = document.querySelectorAll('.task');
    var selectedTaskTexts = [];
    var notselectedTaskTexts = [];
    var toDoTitle = document.querySelector(".main-title").innerText;

    taskLabels.forEach(function (label) {
        var checkbox = label.querySelector('.taskCheckbox');
        var textInput = label.querySelector('input[type="text"]');
        if (textInput.value !=null) {
            if (checkbox.checked) {
                selectedTaskTexts.push(textInput.value.trim());
            }
            else {
                notselectedTaskTexts.push(textInput.value.trim());
            }
        }

    });

    var temizlenmisDizi = notselectedTaskTexts.filter(function (item) {
        return item.trim() !== ''; // Boş dize olmayanları filtrele
    });

    console.log(temizlenmisDizi.length);
    console.log(notselectedTaskTexts);
    var selectedTaskTextsString1 = selectedTaskTexts.join(",");
    var notselectedTaskTextsString1 = notselectedTaskTexts.join(",");
    var selectedTaskTextsString= selectedTaskTextsString1.replace(/^,|,$/g, '');
    var notselectedTaskTextsString=notselectedTaskTextsString1.replace(/^,|,$/g, '');
    var inputElement = document.getElementById("todoId");
    var todoListId = 0;
    if (inputElement != null && typeof inputElement.value !== "undefined")
        todoListId = inputElement.value;
    $.ajax({
        type: 'POST',
        url: "/ToDoList/ToDoListAdd/",
        encode: true,
        data: { selected: selectedTaskTextsString, unselected: notselectedTaskTextsString, title: toDoTitle, itemId: todoListId },
        success: function (data) {
            if (todoListId != 0) {
                showItem(todoListId);
            }
            else
                show();
            clear();
            if (todoListId != 0) {
                var countElement = document.getElementById("count_" + todoListId);
                if (countElement) {
                    console.log(notselectedTaskTexts.length);
                    var currentCount = temizlenmisDizi.length; // Mevcut count değerini al
                    countElement.innerText = currentCount; // Count değerini 1 artırarak güncelle
                }
            }
        }
    });

}

document.querySelector(".close").addEventListener("click", function () {
    // Modalı gizle
    document.getElementById("myModal").style.display = "none";
    location.reload();

});

    function clear() {
        document.getElementById("textInput").value = "";
        var checkbox = document.getElementById("taskCheckbox");
        if (checkbox.checked) {
            checkbox.checked = false;
        }
        var textInput = document.getElementById("textInput");
        if (textInput.value.trim() !== "") {
            textInput.style.textDecoration = "line-through";
        } else {
            textInput.style.textDecoration = "none";
        }
    }

</script>
<style>
    .popup-containeredit {
        background-color: white;
        border-radius: 10px; /* Yuvarlak kenarlar */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Gölgeli efekt */
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    .popup-content text {
        font-size: 16px; /* Metin boyutunu ayarla (örneğin 16 piksel) */
    }
    .main-title {
        text-align: center;
        font-size: 32px;
        font-weight: normal; /* Yazı tipi ağırlığı azaltıldı */
        color: #333;
        margin: 0;
    }
    .selected {
        ransform: scale(1.1); /* Seçilen elemanın boyutunu artırır */
        transition: transform 0.2s ease; /* Dönüşümün yumuşak olması için geçiş efekti ekler */
        border: 1px solid #ccc; /* Çizgi stilini belirler */
        border-radius: 10px;
    }
    .dropbtn {
        background-color: #f1f1f1;
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Açılır menü içeriği stilleri */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
    }

        /* Açılır menü içeriğini göstermek için */


        /* Açılır menü içeriği linkleri */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Açılır menü içeriği linklerinin üzerine gelindiğinde */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .close {
        border: 1px solid #ccc; /* Kenar çizgisi */
        padding: 5px 10px; /* İç boşluk */
        background-color: #f9f9f9; /* Arka plan rengi */
        cursor: pointer;
        width: fit-content;
        text-align: end;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* Kapatma düğmesi stilleri */

    #container4 {
        display: flex;
        flex-direction: column; /* Öğeleri dikey olarak hizalar */
    }

    #container3 {
        flex-direction: column;
        margin: 7% 0px 0px -17%;
        padding-top: 10px;
    }

    .horizontal-line {
        border-top: 1px solid black; /* Çizgiyi siyah yapar */
        width: 20%; /* Çizginin genişliğini ayarlar */
        margin: 7% 0px 0px -12%;
        display: flex; /* İstediğiniz boşluğu ayarlayabilirsiniz */
    }

    .vertical-line {
        border-left: 1px solid #000; /* Dikey çizgi stilini ve rengini ayarla */
        height: 100px; /* Dikey çizginin yüksekliğini ayarla */
        margin: 0 30px; /* Dikey çizginin sol ve sağ kenarlarında boşluk bırak */
    }

    .wrapper {
        display: flex;
    }

    #container1 {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
    }

        #container1 .img {
            margin-right: 5px; /* Resim ile etiket arasına bir boşluk ekler */
        }

    .logo {
        width: 20%; /* Logo genişliği */
        height: auto; /* Logo yüksekliği otomatik olarak ayarlanacak */
        border-radius: 50%; /* Yuvarlak kenarlar için */
    }

    .date {
        cursor: pointer;
        text-align: center;
        font-size: x-large;
    }

    .todolist {
        cursor: pointer;
        text-align: center;
        font-size: x-large;
        margin-top: -20%;
        transition: background-color 0.3s ease; /* Geçiş efekti */
        font-family: "Arial", sans-serif; /* Profesyonel bir yazı tipi */
    }
    .textContent {
        border: none;
        outline: none;
        margin-left: 35px;
        flex-grow: 1;
        padding: 5px 10px;
        box-sizing: border-box;
        box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
        overflow: auto;
        border-bottom: 1px solid #333;
        background-color: transparent;
        text-align: left;
        word-wrap: break-word;
    }
    .custom-table tr:hover {
        background-color: #f0f0f0; /* Gri arka plan rengi */
    }

    .addlist {
        border: none; /* Kenar çizgisini kaldır */
        outline: none;
        padding-left: 6%;
        width: 200px; /* Genişlik */
        height: 40px;
    }

        .addlist:hover {
            background-color: #f0f0f0; /* Gri arka plan rengi */
        }


    .todo-list {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

        .todo-list h1 {
            font-family: 'Cursive', cursive;
            color: #2eacb3;
            text-align: center;
            margin-bottom: 20px;
        }

    .task {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .task input[type="checkbox"] {
            opacity: 0;
            position: absolute;
        }

    .textInput2 {
        border: none;
        outline: none;
        margin-left: 35px;
        flex-grow: 1;
        padding: 5px 10px;
        box-sizing: border-box;
        box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
        overflow: auto;
        border-bottom: 1px solid #333;
        background-color: transparent;
        text-align: left;
        word-wrap: break-word;
    }

 
    .custom-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #333;
        position: relative;
        cursor: pointer;
    }

        .custom-checkbox::after {
            content: ''; /* İçeriğini boş bırakın */
            width: 6px; /* Tik uzunluğu */
            height: 12px; /* Tik yüksekliği */
            border: solid #333; /* Tik rengi */
            border-width: 0 2px 2px 0; /* Tik şekli */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg); /* Tik konumu ve dönüşü */
            opacity: 0; /* Başlangıçta görünmez */
            transition: opacity 0.3s ease; /* Geçiş efekti */
        }

    input[type="checkbox"]:checked + .custom-checkbox::after {
        opacity: 1;
    }

    .taskCheckbox:checked + .custom-checkbox {
        background-color: #2eacb3; /* Checkbox seçildiğinde arka plan rengini yeşil yap */
    }

   
    button {
        background-color: #2eacb3;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 15%;
    }

    .logotable {
        padding-left: 18%;
        width: 40px; /* Logo genişliği */
        height: auto; /* Logo yüksekliği otomatik olarak ayarlanacak */
        border-radius: 50%; /* Yuvarlak kenarlar için */
    }

    .container {
        margin-top: 7%;
    }

    .custom-table {
        width: 50%;
    }

    .logotable {
        padding-left: 18%;
        width: 40px;
        height: auto;
        border-radius: 50%;
    }


   
    #inputDiv {
        /* İlgili div'in genişlik ve yüksekliğini ayarlayın */
        width: 300px; /* Örnek olarak 300 piksel genişlik */
        height: 50px; /* Örnek olarak 50 piksel yükseklik */
        /* Diğer isteğe bağlı stil özellikleri ekleyebilirsiniz */
        display: flex; /* Öğeleri yatay düzende hizalamak için */
        align-items: center; /* Yatay düzlemde hizalamak için */
    }
    .custom-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #333;
        position: relative;
        cursor: pointer;
    }

        .custom-checkbox::after {
            content: '';
            width: 6px;
            height: 12px;
            border: solid #333;
            border-width: 0 2px 2px 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

    input[type="checkbox"]:checked + .custom-checkbox::after {
        opacity: 1;
    }

    .taskCheckbox:checked + .custom-checkbox {
        background-color: #2eacb3;
    }


    .addlist {
        border: none;
        outline: none;
        padding-left: 6%;
        width: 200px;
        height: 40px;
    }

        .addlist:hover {
            background-color: #f0f0f0;
        }


    .todo-list {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

        .todo-list h1 {
            font-family: 'Cursive', cursive;
            color: #2eacb3;
            text-align: center;
            margin-bottom: 20px;
        }
</style>

