@inject IJsonHelper JsonHelper
@{
    ViewData["Title"] = "ToDoList";
    string[] taskData = ViewBag.TaskData;
    string[] notTaskData = ViewBag.NotTaskData;

}
@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pacifico&display=swap" rel="stylesheet">
<link href="~/css/todo.css" rel="stylesheet" />

@*<div class="wrapper">
    <div id="container1">
        <img src="~/icons/todo/sun.png" alt="Logo" class="logo">
        <label onclick="show()" class="date">Günüm</label>
    </div>
    <div class="horizontal-line"></div>*@
@*<div id="container3">
        <div id="container4" style=" contain: inline-size;">
            <table class="custom-table" style="width: 50%;">

                @foreach (var item in ViewBag.ToDoList)
                {
                    <tr>
                        <td>
                            <img src="~/icons/todo/deneme.png" alt="Logo" class="logotable">
                        </td>
                        <td>
                            <label class="todolist" onclick="showItem(@item.Id)">@item.Title</label>
                        </td>
                        <td>
                            <input type="text" id="todolistId" value="@item.Id" style="display:none" />
                        </td>
                        <td>
                            <h9>@item.Count</h9>
                        </td>
                    </tr>

                }
            </table>
        </div>

        <div id="Containerlist">
            <input type="text" id="ekleButton2" class="addlist" placeholder="Liste Ekle">
        </div>
    </div>*@
<!--<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                @foreach (var item in ViewBag.ToDoList)
                {
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-2" onclick="showItem(@item.Id)">
                        <div>
                            <img src="~/icons/todo/deneme.png" alt="Logo" style="max-width: 30px; margin-right: 10px;">
                            <span style="font-size: 14px; margin-right: 5px;">@item.Title</span>
                        </div>
                        <span>@item.Count</span>
                        <input type="text" id="todolistId" value="@item.Id" style="display:none" />
                    </a>
                }
            </ul>
        </div>
    </div>
</div>
    <div class="container" id="container2">
        <div class="row">
            <div class="col-md-10">
                <div style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border: 2px solid #2eacb3;">
                    <div class="card-header" id="todaymaintitle" style="font-family: 'DM Sans', sans-serif;"></div>
                    <div class="card-body" style=" background-color: #f4f4f4;">
                        <input type="text" style="font-family: 'DM Sans', sans-serif; background-color: #f4f4f4;text-align: center; font-size: xxx-large; border:none;width:100%; " id="todotitle" class="card-title" placeholder="Başlık bilginizi buraya giriniz.." value="@ViewBag.TitleValue" />

                        <div class="todo-list">
                            <table id="table">
                                <tr>
                                    <td>
                                        <label class="task">
                                            <input type="checkbox" class="taskCheckbox" id="taskCheckbox" onclick="clickToDoCheckbox(this)">
                                            <span class="custom-checkbox"></span>
                                            <input type="text" name="textValue" class="textInput2" id="textInput" placeholder="Görev Ekle">
                                        </label>
                                        <div class="taskcontainer" id="kartContainer2"></div>
                                    </td>
                                    <label class="main-goal">
                                        <span>Bugün için asıl hedefim:</span>
                                        <input type="text" style="outline:none;border:none" id="maingoal" class="maingoal" value="@ViewBag.MainGoalTitle" placeholder="Hedefim">
                                    </label>

                                </tr>
                            </table>
                        </div>-->
<!-- Submit düğmesini en sağa hizalamak için -->
<!--<div class="d-flex justify-content-end" style="margin-top: 5%;">
    <button type="submit" onclick="save()">Kaydet</button>
</div>-->
<!-- Modal -->
<!--<div id="myModal" class="modal">-->
<!-- Modal içeriği -->
<!--<div class="modal-content">
                            <p>Kaydedildi!</p>
                            <span class="close">Tamam</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*<div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="container1">
                        <img src="~/icons/todo/sun.png" alt="Logo" class="logo" style="max-width: 50px; max-height: 50px;">
                        <label onclick="show()" class="date">Günüm</label>
                    </div>

                        <div class="col-md-3">
                            <div class="horizontal-line" style="padding-bottom:15px"></div>
                        </div>

                    <ul class="list-group">
                        @foreach (var item in ViewBag.ToDoList)
                        {
                            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-2" onclick="showItem(@item.Id)">
                                <div>
                                    <img src="~/icons/todo/deneme.png" alt="Logo" style="max-width: 30px; margin-right: 10px;">
                                    <span style="font-size: 14px; margin-right: 5px;">@item.Title</span>
                                </div>
                                <span>@item.Count</span>
                                <input type="text" id="todolistId" value="@item.Id" style="display:none" />
                            </a>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>*@

<div class="wrapper" style="margin-top:-10%">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="container1">
                    <img src="~/icons/todo/sun.png" alt="Logo" class="logo" style="max-width: 50px; max-height: 50px;">
                    <label onclick="show()" class="date">Günüm</label>
                </div>
                <div class="horizontal-line" style="padding-bottom:15px;width: 97%;margin-left: 1%;"></div>
                <ul class="list-group">
                    @foreach (var item in ViewBag.ToDoList)
                    {
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-2" onclick="showItem(@item.Id)">
                            <div>
                                <img src="~/icons/todo/deneme.png" alt="Logo" style="max-width: 30px; margin-right: 10px;">
                                <span style="font-size: 14px; margin-right: 5px;">@item.Title</span>
                            </div>
                            <span>@item.Count</span>
                            <input type="text" id="todolistId" value="@item.Id" style="display:none" />
                            <label id="todoId" style="display:none"></label>
                        </a>
                    }
                </ul>
                <div id="Containerlist">
                    <input type="text" id="ekleButton2" class="addlist"  style="width: 100%;" placeholder="Liste Ekle..">
                </div>
            </div>
            <div class="col-md-9">
                <div class="container" id="container2">
                    <div class="card" style="background-color: #f4f4f4;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border: 2px solid #2eacb3;">
                        <div class="card-header" style=" background-color: #f4f4f4;" id="todaymaintitle">Bugünün Görevleri</div>
                        <div class="card-body">
                            <input type="text" class="form-control mb-3" id="todotitle" placeholder="Başlık bilginizi buraya giriniz.." value="@ViewBag.TitleValue">
                            <div class="todo-list">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <label class="task">
                                                <input type="checkbox" class="taskCheckbox" id="taskCheckbox" onclick="clickToDoCheckbox(this)">
                                                <span class="custom-checkbox"></span>
                                                <input type="text" name="textValue" class="textInput2" id="textInput" placeholder="Görev Ekle">
                                            </label>
                                            <div class="taskcontainer" id="kartContainer2"></div>
                                        </td>
                                        <td>
                                            <label class="main-goal">
                                                <span>Bugün için asıl hedefim:</span>
                                                <input type="text" class="form-control" id="maingoal" value="@ViewBag.MainGoalTitle" placeholder="Hedefim">
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="text-end mt-3">
                                <button type="submit" class="btn btn-primary btn-sm" style="width:auto" onclick="save()">Kaydet</button>
                            </div>
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <p>Kaydedildi!</p>
                                    <span class="close">Tamam</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var kartIcerik = `@if (taskData != null) {
            @foreach (var task in taskData)
            {
               <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
          <label class="task" >
        <input type="checkbox" class="taskCheckbox"  onclick="clickToDoCheckbox(this);document.getElementById('delbutton').blur();" id="taskCheckbox" @(true ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" style="text-decoration:line-through" class="textInput2"   id="textInput"  name="textValue" placeholder="Görev Ekle" value="@task">
            </label> </div>
        }
                }
            `;

        var kartIcerik2 = `@if (notTaskData != null) {
                @foreach (var task in notTaskData)
            {
               <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
          <label class="task" >
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this);document.getElementById('delbutton').blur();" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" class="textInput2"  id="textInput" placeholder="Görev Ekle"  value="@task">
            </label>
             </div>
            }
                }
            `;

    var toplam = kartIcerik + kartIcerik2;
    $('#kartContainer2').append(toplam);
    });
function show() {
    document.getElementById("todaymaintitle").style.visibility = "visible";
    document.getElementById("todotitle").readOnly = false;
    document.getElementById("todolistId").value = 1;
    $.ajax({
        type: 'POST',
        url: "/ToDoList/ToDoListDay/",
        encode: true,
        dataType: "json",
        success: function (data) {
            document.getElementById("maingoal").value = data.message.mainGoalTitle;
            document.getElementById("todotitle").value = data.message.title;
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
               <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
          <label class="task" >
                    <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    <input type="text" style="text-decoration:line-through" id="textInput" class="textInput2"   name="textValue" placeholder="Görev Ekle" value="${task}">
                </label>
                 </div>`;
                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
               <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
          <label class="task" >
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" id="textInput" class="textInput2"   placeholder="Görev Ekle"  value="${task2}">
            </label>
             </div>`;
                }



            }
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);
        }
    });

}
function showItem(id) {
    document.getElementById("todaymaintitle").style.visibility = "hidden";
    document.getElementById("todotitle").readOnly = true;
    var inputElement = document.getElementById("todoId");
    document.getElementById("todoId").value = id;
    document.getElementById("todolistId").value = 2;

    $.ajax({
        type: 'POST',
        url: "/ToDoList/GetToDoList/",
        encode: true,
        data: { id: id },
        dataType: "json",
        success: function (data) {
            document.getElementById("maingoal").value = data.message.mainGoalTitle;
            document.getElementById("todotitle").value = data.message.title;
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (data.message.taskData != null) {
                for (var i = 0; i < data.message.taskData.length; i++) {
                    var task = data.message.taskData[i];
                    kartIcerik += `
            <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
                    <label class="task">
                  <input type="checkbox" class="taskCheckbox" style="padding-left:50%" id="taskCheckbox" @(true ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    <input type="text" style="text-decoration:line-through" id="textInput" name="textValue" class="textInput2" placeholder="Görev Ekle" value="${task}">
                    </label>
            </div>`;
                }
            }
            if (data.message.notTaskData != null) {
                for (var i = 0; i < data.message.notTaskData.length; i++) {
                    var task2 = data.message.notTaskData[i];
                    kartIcerik2 += `
                      <div style="display: flex;">
                        <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
              <label class="task">
        <input type="checkbox" class="taskCheckbox"  id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue"  class="textInput2"   id="textInput" placeholder="Görev Ekle"  value="${task2}">
            </label>
             </div>`;
                }
            }

            //onclick = "clickToDoCheckbox(this)"
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);

        }

    });

}
function addtodo() {
    // Kartın içeriği
    var kartIcerik2 = `
                <div style="display: flex;">
            <img src="/icons/todo/delete2.png" id="delbutton" onclick="deleteToDo(this)" width="30" height="30"  style="margin-right: 10px;margin-left: -16%;cursor: pointer;">
          <label class="task" >
             <input type="checkbox" class="taskCheckbox" id="taskCheckbox" onclick="clickToDoCheckbox(this)">
             <span class="custom-checkbox"></span>
             <input type="text" name="textValue" class="textInput2"  id="textInput" placeholder="Görev Ekle">
           </label>
           </div>
    `;
    // Kartı kartContainer içine ekle
    $('#kartContainer2').append(kartIcerik2);
}

    $(document).on('keyup', '.textInput2', function (event) {
        console.log("girdi")
        if (event.keyCode === 13) {
            event.preventDefault();
            addtodo();
        }
});

$("#ekleButton2").keyup(function (event) {
    if (event.keyCode === 13) {
        var inputElement = document.getElementById("ekleButton2");
        var toDoTitleList = inputElement.value;
        $.ajax({
            type: 'POST',
            url: "/ToDoList/ToDoListAddList/",
            encode: true,
            data: { title: toDoTitleList },
            dataType: "json",
            success: function () {
                location.reload();
            }
        });
    }

});


function clickToDoCheckbox(checkbox) {
    var label = checkbox.parentElement.querySelector('input[type="text"]');
    if (checkbox.checked) {
        label.style.textDecoration = "line-through";
    } else {
        label.style.textDecoration = "none";
    }
}
function textVisibleshow() {
    var inputElement = document.getElementById("textInput");
    inputElement.style.textDecoration = "none";
}

function textVisible() {
    var inputElement = document.getElementById("textInput");
    inputElement.style.textDecoration = "none"; //
}


 function deleteToDo(item) {
        if (confirm("Gerçekten silmek istiyor musunuz?")) {
            var label = item.parentElement.querySelector('input[type="text"]');
            console.log(label.value);
            var inputElement = document.getElementById("todoId");
            console.log(inputElement);
            var inputTitle = document.getElementById("todotitle");
            console.log(inputTitle);

            var todoListId = inputElement.value;
            console.log(todoListId);


            $.ajax({
                type: 'POST',
                url: "/ToDoList/DeleteToDo/",
                encode: true,
                data: { selectedItem: label.value, title: inputTitle.value, itemId: todoListId },
                dataType: "json",
                success: function () {
                    location.reload();
                }

            });

            return false;
        }


}
function save() {
    var taskLabels = document.querySelectorAll('.task');
    var selectedTaskTexts = [];
    var notselectedTaskTexts = [];
    var inputElement = document.getElementById("todotitle");
    var toDoTitle = inputElement.value;
    var maingoal = document.getElementById("maingoal");
    var toDoMainGoal = maingoal.value;

    taskLabels.forEach(function (label) {
        var checkbox = label.querySelector('.taskCheckbox');
        var textInput = label.querySelector('input[type="text"]');
        var maingoal = document.getElementById("maingoal").innerText;
        var values = textInput.value.split(',');
        if (values!='') {
            if (checkbox.checked) {
                selectedTaskTexts.push(textInput.value.trim());
            }
            else {
                notselectedTaskTexts.push(textInput.value.trim());
            }
        }

    });
    console.log(selectedTaskTexts);
    console.log(notselectedTaskTexts);
    var selectedTaskTextsString = selectedTaskTexts.join(",");
    var notselectedTaskTextsString = notselectedTaskTexts.join(",");
    var inputElement = document.getElementById("todolistId");
    var todoListId = inputElement.value;

    $.ajax({
        type: 'POST',
        url: "/ToDoList/ToDoListAdd/",
        encode: true,
        data: { selected: selectedTaskTextsString, unselected: notselectedTaskTextsString, maingoals: toDoMainGoal, title: toDoTitle, itemId: todoListId },
        dataType: "json",
        success: function () {
            document.getElementById("maingoal").value = toDoMainGoal;
            document.getElementById("todotitle").value = toDoTitle;
            var kartIcerik = '';
            var kartIcerik2 = '';
            if (selectedTaskTexts != null) {
                for (var i = 0; i < selectedTaskTexts.length; i++) {
                    var task = selectedTaskTexts[i];
                    kartIcerik += `
                <label class="task">
                    <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(true ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    <input type="text" style="text-decoration:line-through" id="textInput" name="textValue" placeholder="Görev Ekle" value="${task}">
                </label>`;
                }
            }
            if (notselectedTaskTexts != null) {
                for (var i = 0; i < notselectedTaskTexts.length; i++) {
                    var task2 = notselectedTaskTexts[i];
                    kartIcerik2 += `
              <label class="task">
        <input type="checkbox" class="taskCheckbox" onclick="clickToDoCheckbox(this)" id="taskCheckbox" @(false ? "checked" : "")>
        <span class="custom-checkbox"></span>
        <input type="text" name="textValue" id="textInput" placeholder="Görev Ekle"  value="${task2}">
            </label>`;
                }
            }
            $('#kartContainer2').empty();
            var toplam = kartIcerik + kartIcerik2;
            $('#kartContainer2').append(toplam);

            var input = document.getElementById("textInput");
            var button = document.getElementById("myButton");
            document.getElementById("myModal").style.display = "block";
        }
    });
}
document.querySelector(".close").addEventListener("click", function () {
    // Modalı gizle
    document.getElementById("myModal").style.display = "none";
    location.reload();

});



</script>
<style>


    .task {
        display: flex;
        align-items: center;
    }

     
    .dropbtn {
        background-color: #f1f1f1;
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Açılır menü içeriği stilleri */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
    }

        /* Açılır menü içeriğini göstermek için */


        /* Açılır menü içeriği linkleri */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Açılır menü içeriği linklerinin üzerine gelindiğinde */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .close {
        border: 1px solid #ccc; /* Kenar çizgisi */
        padding: 5px 10px; /* İç boşluk */
        background-color: #f9f9f9; /* Arka plan rengi */
        cursor: pointer;
        width: fit-content;
        text-align: end;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* Kapatma düğmesi stilleri */

    #container4 {
        display: flex;
        flex-direction: column; /* Öğeleri dikey olarak hizalar */
    }

    #container3 {
        flex-direction: column;
        margin: 7% 0px 0px -17%;
        padding-top: 10px;
    }

    .horizontal-line {
        border-top: 1px solid black; /* Çizgiyi siyah yapar */
        width: 20%; /* Çizginin genişliğini ayarlar */
        margin: 7% 0px 0px -12%;
        display: flex; /* İstediğiniz boşluğu ayarlayabilirsiniz */
    }

    .vertical-line {
        border-left: 1px solid #000; /* Dikey çizgi stilini ve rengini ayarla */
        height: 100px; /* Dikey çizginin yüksekliğini ayarla */
        margin: 0 30px; /* Dikey çizginin sol ve sağ kenarlarında boşluk bırak */
    }

    .wrapper {
        display: flex;
    }

    #container1 {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
    }

        #container1 .img {
            margin-right: 5px; /* Resim ile etiket arasına bir boşluk ekler */
        }

    .logo {
        width: 20%; /* Logo genişliği */
        height: auto; /* Logo yüksekliği otomatik olarak ayarlanacak */
        border-radius: 50%; /* Yuvarlak kenarlar için */
    }

    .date {
        cursor: pointer;
        text-align: center;
        font-size: x-large;
    }

    .todolist {
        cursor: pointer;
        text-align: center;
        font-size: x-large;
        margin-top: -20%;
        transition: background-color 0.3s ease; /* Geçiş efekti */
        font-family: "Arial", sans-serif; /* Profesyonel bir yazı tipi */
    }

    .custom-table tr:hover {
        background-color: #f0f0f0; /* Gri arka plan rengi */
    }

    .addlist {
        border: none; /* Kenar çizgisini kaldır */
        outline: none;
        padding-left: 6%;
        width: 200px; /* Genişlik */
        height: 40px;
    }

        .addlist:hover {
            background-color: #f0f0f0; /* Gri arka plan rengi */
        }


    .todo-list {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

        .todo-list h1 {
            font-family: 'Cursive', cursive;
            color: #2eacb3;
            text-align: center;
            margin-bottom: 20px;
        }

    .task {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .task input[type="checkbox"] {
            opacity: 0;
            position: absolute;
        }

        .task input[type="text"] {
            border: none;
            outline: none;
            margin-left: 35px;
            flex-grow: 1;
            padding: 5px 10px;
            box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
            max-width: 200px;
        }

    .taskcontainer {
        width: 100%;
    }

    .custom-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #333;
        position: relative;
        cursor: pointer;
    }

        .custom-checkbox::after {
            content: ''; /* İçeriğini boş bırakın */
            width: 6px; /* Tik uzunluğu */
            height: 12px; /* Tik yüksekliği */
            border: solid #333; /* Tik rengi */
            border-width: 0 2px 2px 0; /* Tik şekli */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg); /* Tik konumu ve dönüşü */
            opacity: 0; /* Başlangıçta görünmez */
            transition: opacity 0.3s ease; /* Geçiş efekti */
        }

    input[type="checkbox"]:checked + .custom-checkbox::after {
        opacity: 1;
    }

    .taskCheckbox:checked + .custom-checkbox {
        background-color: #2eacb3; /* Checkbox seçildiğinde arka plan rengini yeşil yap */
    }

    .main-goal {
        display: block;
        margin-top: 20px;
    }

        .main-goal span {
            font-weight: bold;
        }

        .main-goal input[type="text"] {
            border: none;
            border-bottom: 1px solid #333;
            background-color: transparent;
            width: 100%;
            padding: 5px 0;
        }

            .main-goal input[type="text"]:hover {
                background-color: #f0f0f0; /* Gri arka plan rengi */
            }

    button {
        background-color: #2eacb3;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 15%;
    }

    .logotable {
        padding-left: 18%;
        width: 40px; /* Logo genişliği */
        height: auto; /* Logo yüksekliği otomatik olarak ayarlanacak */
        border-radius: 50%; /* Yuvarlak kenarlar için */
    }

    .container {
        padding-left: 10%;
        margin-top: 7%;
    }

    .custom-table {
        width: 50%;
    }

    .logotable {
        padding-left: 18%;
        width: 40px;
        height: auto;
        border-radius: 50%;
    }


    .taskcontainer {
        width: 100%;
    }

    .custom-checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #333;
        position: relative;
        cursor: pointer;
    }

        .custom-checkbox::after {
            content: '';
            width: 6px;
            height: 12px;
            border: solid #333;
            border-width: 0 2px 2px 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

    input[type="checkbox"]:checked + .custom-checkbox::after {
        opacity: 1;
    }

    .taskCheckbox:checked + .custom-checkbox {
        background-color: #2eacb3;
    }

    .main-goal {
        display: block;
        margin-top: 20px;
    }

        .main-goal span {
            font-weight: bold;
        }

        .main-goal input[type="text"] {
            border: none;
            border-bottom: 1px solid #333;
            background-color: transparent;
            width: 100%;
            padding: 5px 0;
        }

    button {
        background-color: #2eacb3;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 15%;
    }

    .addlist {
        border: none;
        outline: none;
        padding-left: 6%;
        width: 200px;
        height: 40px;
    }

        .addlist:hover {
            background-color: #f0f0f0;
        }


    .todo-list {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

        .todo-list h1 {
            font-family: 'Cursive', cursive;
            color: #2eacb3;
            text-align: center;
            margin-bottom: 20px;
        }
</style>

