@model List<TaskComp>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<style>
    .dd-item-title {
        display: block; /* Bağlantıyı blok seviyesinde bir element yapar, bu da tüm satırı tıklanabilir yapar */
        padding: 8px 16px; /* Bağlantıya iç boşluk ekler */
        margin: -8px -16px; /* Etrafta boşluk bırakmadan bağlantıyı genişletir */
        color: #333; /* Metin rengi */
        background-color: transparent; /* Arkaplan rengi */
        text-decoration: none; /* Alt çizgiyi kaldırır */
        font-weight: bold; /* Metni kalın yapar */
        border-radius: 4px; /* Kenarlara hafif yuvarlaklık ekler */
    }

        .dd-item-title:hover, .dd-item-title:focus {
            text-decoration: none; /* Üzerine gelindiğinde veya odaklandığında alt çizgi ekler */
            background-color: #f5f5f5; /* Üzerine gelindiğinde arkaplan rengini değiştirir */
            color: #006400; /* Üzerine gelindiğinde metin rengini değiştirir */
        }

    .dd-list {
        min-height: 50px; /* Boş listelerde görünürlük sağlamak için */
        padding: 10px; /* Boş listelerde iç boşluk sağlamak için */
        background-color: #f9f9f9; /* Görsel olarak ayırt edilebilir olması için */
    }

    .drop-hover {
        background-color: #e0e0e0; /* Sürüklenen öğenin üzerinde olduğu alanı belirtmek için */
    }

    .card {
        position: relative;
        padding-bottom: 40px; /* Scroll arrow için yer açmak için */
    }

    .card-body {
        max-height: 300px; /* Kartın maksimum yüksekliği */
        overflow-y: auto; /* Dikey kaydırma çubuğu ekle */
    }

    .search-filter-container {
        display: flex;
        justify-content: start;
        align-items: stretch; /* İçerikleri aynı yükseklikte hizalar */
        gap: 10px;
        margin-bottom: 20px;
        padding: 0;
    }

    .search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid #2D6187;
        border-radius: 4px;
        background-color: #fff;
    }

    .status-filter {
        display: flex;
        align-items: center;
        padding: 1px;
        margin-right: 8px;
        border: 1px solid #2D6187;
        border-radius: 4px;
        background-color: #fff;
    }

    .search-box input[type="text"] {
        flex-grow: 1; /* Arama kutusunu esnet ve mevcut alana doldur */
        border: 1px solid #d3d3d3;
        margin-right: 8px;
        padding: 10px;
        font-size: 14px;
        color: #333;
    }

    .status-filter select {
        padding: 10px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        -webkit-appearance: none; /* Özelleştirilmiş dropdown için */
        -moz-appearance: none;
        appearance: none;
        font-size: 14px;
        color: #333;
        background-image: url('dropdown-arrow.svg'); /* Sizin sağladığınız ok ikonu */
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        position: relative;
    }

    /* Dropdown menünün altındaki ok işaretini eklemek için kullanılan SVG */
    .status-filter select {
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23000" d="M2 0L0 2h4L2 0z"/></svg>');
        background-position: right 15px center;
        background-size: 12px 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .selected-status {
        order: -1; /* Bu, seçilen statü kutusunun öncelikli olarak sola hizalanmasını sağlar */
    }
    .final-decision-filter {
        display: flex;
        align-items: center;
        padding: 1px;
        margin-right: 8px;
        border: 1px solid #2D6187;
        border-radius: 4px;
        background-color: #fff;
    }

        .final-decision-filter select {
            padding: 10px;
            border: none;
            background-color: #fff;
            cursor: pointer;
            -webkit-appearance: none; /* Özelleştirilmiş dropdown için */
            -moz-appearance: none;
            appearance: none;
            font-size: 14px;
            color: #333;
            background-image: url('dropdown-arrow.svg'); /* Sizin sağladığınız ok ikonu */
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 16px;
            position: relative;
            padding-right: 30px;
        }

        .final-decision-filter select {
            background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23000" d="M2 0L0 2h4L2 0z"/></svg>');
            background-position: right 15px center;
            background-size: 12px 6px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 30px;
        }

    .selected-status {
        /* Burada seçilen karta özel stil tanımlayabilirsiniz */
        border: 2px solid #000; /* Örnek: kalın siyah kenarlık */
    }

            /* Hover efektleri */
            .search-box input[type="text"]:hover,
            .search-box input[type="text"]:focus,
            .status-filter select:hover,
            .status-filter select:focus,
            .final-decision-filter select:hover,
            .final-decision-filter select:focus {
                background-color: #e6e6e6;
            }

    @@media (max-width: 768px) {
        .search-filter-container {
            flex-direction: column;
        }

        .search-box,
        .status-filter {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
            border: 3px solid #2D6187; /* Gri tonlu 1 piksel kalınlığında çerçeve */
            border-radius: 4px; /* Hafif yuvarlatılmış köşeler için */
        }
    }


    .scroll-arrow {
        text-align: center;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        color: #333;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #f9f9f9;
        display: none; /* Başlangıçta gizli */
    }

        .scroll-arrow:hover {
            color: #006400;
        }
</style>


@functions {

    int GetStatusOrder(int statusId)
    {
        switch (statusId)
        {
            case 1:
                return 1;
            case 2:
                return 2;
            case 3:
                return 3;
            case 4:
                return 4;
            case 5:
                return 5;
            case 6:
                return 6;
            default:
                return 7;
        }
    }
}

<div class="search-filter-container">
    <div class="search-box">
        <input type="text" placeholder="Ara . . ." id="searchTasks" style="border-color:#2D6187;  border-radius: 4px;">

        <div class="status-filter">
            <select id="statusFilter">
                <option value="">Tüm Durumlar</option>
                <option value="1">İlk Temas</option>
                <option value="2">Görüşme Ayarlandı</option>
                <option value="3">Görüşme Gerçekleşti</option>
                <option value="4">Teklif Gönderildi</option>
                <option value="5">Sözleşme Aşamasında</option>
             @*   <option value="6">Satış Tamamlandı</option>*@
            </select>
        </div>

        <div class="final-decision-filter">
            <select id="isFinalDecisionMaker">
                <option value="">Son Karar Mercii İle Görüşüldü</option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </div>

        @*        <div class="sales-done-filter">
        <label for="startDate">Başlangıç Tarihi:</label>
        <input type="date" id="startDate" name="startDate">

        <label for="endDate">Bitiş Tarihi:</label>
        <input type="date" id="endDate" name="endDate">

        <button type="button" id="filterButton">Filtrele</button>
        </div>*@


    </div>
</div>


<div class="row g-3">
    @{
        // ViewBag'dan durum isimlerini ve durumların listesini al
        var statusNames = ViewBag.StatusNames as Dictionary<int, string>;
        var statusList = ViewBag.StatusList as Dictionary<int, string>; // Controller'dan gönderilen durum listesi

        // Her durumu temsil edecek kartlar için döngü oluştur
        foreach (var status in statusList)
        {
            // Her durum için bir kart oluştur
            <div class="col-lg-3 col-md-4 col-sm-6" data-statusid="@status.Key">
                @{
                    string statusClass = "";
                    string borderColor = "";
                    switch (status.Key) // Burada status.Key, durumun ID'sidir
                    {
                        case 1:
                            statusClass = "planned_task";
                            borderColor = "#fd7e14";
                            break;
                        case 2:
                            statusClass = "progress_task";
                            borderColor = "#198754";
                            break;
                        case 3:
                            statusClass = "completed_task";
                            borderColor = "#0d6efd";
                            break;
                        case 4:
                            statusClass = "planned_task";
                            borderColor = "#FED049";
                            break;
                        case 5:
                            statusClass = "progress_task";
                            borderColor = "#2D6187";
                            break;
                        case 6:
                            statusClass = "completed_task";
                            borderColor = "#006400";
                            break;
                        default:
                            statusClass = "";
                            break;
                    }
                }
                @{
                    var tasksInThisStatus = Model.Where(task => task.Status != null && task.Status.StatusId == status.Key).ToList();
                }

                <div class="card mb-4 @statusClass" style="border-color:@borderColor; min-height:400px;" data-statusid="@status.Key">
                    <div class="card-header">
                        <h6 class="card-title">@status.Value </h6>
                        <span id="taskCount_@status.Key">Görev Sayısı:@(tasksInThisStatus.Count())</span>

                        <ul class="header-dropdown">
                            <li>
                                @if (status.Key == 1)
                                {
                                    <a href="/Task/TaskAdd"><i class="fa fa-plus-circle"></i></a>
                                }
                            </li>
                        </ul>
                    </div>


                    <div class="card-body">
                        @if (tasksInThisStatus.Any())
                        {
                            // Görevleri listele
                            <div class="dd" data-plugin="nestable">
                                <ol class="dd-list" data-statusid="@status.Key">
                                    @foreach (var task in tasksInThisStatus)
                                    {
                                        <li class="dd-item" data-taskid="@task.TaskId" data-statusid="@task.Status.StatusId" data-title="@task.Title"
                                            data-value-or-offer="@task.ValueOrOffer?.ToString("0.##")"
                                            data-description="@task.Description"
                                            data-sales-done="@task.SalesDone?.ToString("dd-MM-yyyyTHH:mm:ss")"
                                            data-created-date="@task.CreatedDate.ToString("dd-MM-yyyyTHH:mm:ss")"
                                            data-modified-date="@task.ModifiedDate?.ToString("dd-MM-yyyyTHH:mm:ss")"
                                            data-is-final-decision-maker="@task.IsFinalDecisionMaker"
                                            data-negative-reason="@task.NegativeReason"
                                            data-user-name="@task.AppUser?.UserName"
                                            data-user-id="@task.AppUser?.Id"
                                            data-assigned-user-name="@task.AssignedUser?.UserName"
                                            data-customer-name="@task.Customer?.Name @task.Customer?.Surname"
                                            data-outcome-type="@task.Outcomes.ToString()">
                                            <div class="dd-handle">
                                                <a href="/Task/TaskDetail/@task.TaskId" class="dd-item-title">
                                                    <h6>@task.Title</h6>
                                                </a>
                                                <div class="task-actions">
                                                    <a href="/Task/TaskEdit/@task.TaskId" target="_self">
                                                        <button type="button" class="btn btn-sm btn-outline">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-outline" data-taskId="@task.TaskId" onclick="confirmDelete(this)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                    <a href="/Task/TaskDetail/@task.TaskId" target="_self">
                                                        <button type="button" class="btn btn-sm btn-outline">
                                                            <i class="fa fa-file-text-o"></i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ol>
                            </div>
                        }
                        else
                        {
                            <p>Görev Yok.</p>
                        }
                    </div>
                    <div class="scroll-arrow" onclick="scrollTasks(this)">
                        <i class="fa  fa-caret-down"></i>
                    </div>

                </div>
            </div>
        }
    }

</div>

<!-- Modal = statuslar arasında geçişte uyarı verilecek ekran için ayarlandı-->
<div class="modal fade" id="requiredFieldModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Dikkat</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<link href="~/CRMTema/bootstrap5/dist/assets/plugin/nestable/jquery-nestable.css" rel="stylesheet" />
<link href="~/jquery/jquery-ui/dist/themes/base/jquery-ui.min.css" rel="stylesheet" />


@* Burada Task Index sayfasına özgü JavaScript dosyaları ve scriptler yer alacak *@
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/plugin/nestable/jquery.nestable.min.js"></script>
<script src="~/jquery/jquery-ui/dist/jquery-ui.min.js"></script>



<script>

    function scrollTasks(element) {
        var cardBody = $(element).prev('.card-body');
        var scrollStep = cardBody.find('.dd-item').first().outerHeight();
        cardBody.animate({
            scrollTop: cardBody.scrollTop() + scrollStep
        }, 300);
    }

    function checkTaskCount() {
        $('.card-body').each(function () {
            var taskCount = $(this).find('.dd-item').length;
            if (taskCount > 3) {
                $(this).next('.scroll-arrow').show(); // 3'ten fazla görev varsa oku göster
            } else {
                $(this).next('.scroll-arrow').hide(); // 3 veya daha az görev varsa oku gizle
            }
        });
    }

    // Sayfa yüklendiğinde ve görev listesi değiştiğinde görev sayısını kontrol et
    $(document).ready(function () {
        checkTaskCount();
    });



    function performSearch() {

        var searchTerm = document.getElementById('searchTasks').value.toLowerCase();


        var tasks = document.querySelectorAll('.dd-item');

        tasks.forEach(function (task) {

            var title = task.getAttribute('data-title').toString().toLowerCase();
            var description = task.getAttribute('data-description').toString().toLowerCase();
            var valueOrOffer = task.getAttribute('data-value-or-offer') ? task.getAttribute('data-value-or-offer').toLowerCase() : '';
            var salesDone = task.getAttribute('data-sales-done') ? task.getAttribute('data-sales-done').toLowerCase() : '';
            var createdDate = task.getAttribute('data-created-date') ? task.getAttribute('data-created-date').toLowerCase() : '';
            var modifiedDate = task.getAttribute('data-modified-date') ? task.getAttribute('data-modified-date').toLowerCase() : '';
            var isFinalDecisionMaker = task.getAttribute('data-is-final-decision-maker') ? task.getAttribute('data-is-final-decision-maker').toLowerCase() : '';
            var outcomeType = task.getAttribute('data-outcome-type') ? task.getAttribute('data-outcome-type').toLowerCase() : '';
            var negativeReason = task.getAttribute('data-negative-reason') ? task.getAttribute('data-negative-reason').toLowerCase() : '';


            var userName = task.getAttribute('data-user-name') ? task.getAttribute('data-user-name').toLowerCase() : '';
            var assignedUserName = task.getAttribute('data-assigned-user-name') ? task.getAttribute('data-assigned-user-name').toLowerCase() : '';
            var customerName = task.getAttribute('data-customer-name') ? task.getAttribute('data-customer-name').toLowerCase() : '';


            isFinalDecisionMaker = isFinalDecisionMaker === 'true' ? 'evet' : (isFinalDecisionMaker === 'false' ? 'hayır' : '');


            if (title.includes(searchTerm)
                || description.includes(searchTerm)
                || valueOrOffer.includes(searchTerm)
                || salesDone.includes(searchTerm)
                || createdDate.includes(searchTerm)
                || modifiedDate.includes(searchTerm)
                || isFinalDecisionMaker.includes(searchTerm)
                || negativeReason.includes(searchTerm)
                || userName.includes(searchTerm)
                || outcomeType.includes(searchTerm)
                || assignedUserName.includes(searchTerm)
                || customerName.includes(searchTerm)) {
                task.style.display = ''; // Eşleşen görevleri göster
            }


            else {
                task.style.display = 'none'; // Eşleşmeyen görevleri gizle
            }
        });
    }

    // Arama kutusuna girilen her karakterde performSearch fonksiyonunu çağır
    document.getElementById('searchTasks').addEventListener('keyup', performSearch);


    function filterByStatus() {
        var selectedStatus = document.getElementById('statusFilter').value;

        if (selectedStatus === "") {
            // Tüm Durumlar seçildiyse sayfayı yenile
            location.reload();
        } else {
            var cards = document.querySelectorAll('.card');

            // Tüm kartlardan selected-status sınıfını kaldır
            cards.forEach(function (card) {
                card.classList.remove('selected-status');
            });

            var container = document.querySelector('.row.g-3');

            // Belirli bir durum seçildiyse, sadece ilgili kartları göster
            cards.forEach(function (card) {
                var cardStatus = card.getAttribute('data-statusid');
                if (cardStatus === selectedStatus) {
                    card.style.display = '';
                    card.classList.add('selected-status');
                } else {
                    card.style.display = 'none';
                }
            });

            // Seçilen kartı ilk pozisyona taşı
            var selectedCard = document.querySelector('.card.selected-status');
            if (selectedCard) {
                container.prepend(selectedCard);
            }
        }
    }

    // Dropdown'da bir seçim yapıldığında filterByStatus fonksiyonunu çağır
    document.getElementById('statusFilter').addEventListener('change', filterByStatus);




    // Filtreleme fonksiyonu for isFinalDecisionMaker
    function filterFinalDecision() {

        // Dropdown'dan seçilen değeri al
        var filterValue = document.getElementById('isFinalDecisionMaker').value.toLowerCase(); // Küçük harfle yazılmasını sağla

        // Tüm görevleri al
        var tasksArray = Array.from(document.querySelectorAll('.dd-item'));


        if (tasksArray.length === 0) {
            console.log('Hiç görev öğesi bulunamadı.');
        }

        else {
            // Her görev için döngü
            tasksArray.forEach(function (task) {

                var isFinalAttribute = task.getAttribute('data-is-final-decision-maker');
                var isFinal = isFinalAttribute === 'True' ? 'true' : (isFinalAttribute === 'False' ? 'false' : '');


                // Görevi göster veya gizle
                if (filterValue === "" || filterValue === isFinal) {
                    task.style.display = '';
                } else {
                    task.style.display = 'none';
                }
            });

        }
    }


    document.getElementById('isFinalDecisionMaker').addEventListener('change', filterFinalDecision);


    filterFinalDecision();

</script>



<script>
    $(document).ready(function () {
        $(".choose-skin li").on("click", function () {
            var t = $("#layout")
                , e = $(this)
                , i = $(".choose-skin li.active").data("theme");
            $(".choose-skin li").removeClass("active"),
                t.removeClass("theme-" + i),
                e.addClass("active"),
                t.addClass("theme-" + e.data("theme"))
        })
    });
    function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to delete this Task?')) {
            var taskId = button.getAttribute('data-taskId');
            var form = document.createElement('form');
            form.action = '/Task/TaskDelete/' + taskId;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
    // Durum sırasını belirlemek için fonksiyon
    function GetStatusOrder(status) {
        switch (status) {
            case "İlk Temas":
                return 1;
            case "Görüşme Ayarlandı":
                return 2;
            case "Görüşme Gerçekleşti":
                return 3;
            case "Teklif Gönderildi":
                return 4;
            case "Sözleşme Aşamasında":
                return 5;
            //case "Satış Tamamlandı":
            //    return 6;
            default:
                return 7;
        }
    }

    // Görevleri sürüklenebilir yapın
    $('.dd-item').draggable({
        cursor: 'move',
        helper: 'clone', // Bu, sürüklenirken bir klon oluşturacak
        revert: 'invalid', // Geçerli bir bırakma noktası bulunamazsa, öğe orijinal konumuna geri döner
        start: function (event, ui) {
            $(this).css('opacity', 0.5); // Sürüklenirken orijinal öğeyi soluk yap
        },
        stop: function (event, ui) {
            $(this).css('opacity', 1); // Sürükleme durduğunda orijinal öğeyi normale döndür
        }
    });



    var statusOrder = [1, 2, 3, 4, 5]; // Durumların sıralı ID'leri

    function canChangeStatus(currentStatusId, newStatusId) {
        var currentIndex = statusOrder.indexOf(currentStatusId);
        var newIndex = statusOrder.indexOf(newStatusId);

        // Yeni durum, mevcut durumdan hemen sonraki durumsa veya mevcut durum yeni durumdan büyükse (geriye izin veriliyorsa) true döner
        return newIndex === currentIndex + 1 || currentIndex > newIndex;
    }
    // Durum listelerini bırakılabilir yapın
    // Kartları bırakılabilir yapın, böylece boş kartlar da görevleri kabul edebilir
    // Kartları ve listeleri bırakılabilir yapın

    var statusOrder = [1, 2, 3, 4, 5]; // Örnek olarak belirlediğim durum ID'leri

    function canChangeStatus(currentStatusId, newStatusId) {
        var currentIndex = statusOrder.indexOf(currentStatusId);
        var newIndex = statusOrder.indexOf(newStatusId);

        // Yeni durum, mevcut durumdan hemen sonraki durumsa veya mevcut durum yeni durumdan büyükse (geriye izin veriliyorsa) true döner
        return newIndex === currentIndex + 1 || currentIndex > newIndex;
    }

    $('.card, .dd-list').droppable({
        accept: '.dd-item',
        hoverClass: 'drop-hover',
        tolerance: 'pointer',
        drop: function (event, ui) {
            var $card = $(this);
            var newStatusId = $card.data('statusid');
            var taskId = ui.draggable.data('taskid');
            var currentStatusId = ui.draggable.closest('.dd-list').data('statusid'); // Mevcut durum ID'sini al

            if (newStatusId !== undefined && canChangeStatus(currentStatusId, newStatusId)) {
                // Gerekli alanların kontrolü için AJAX isteği gönder
                $.ajax({
                    url: '/Task/CheckRequiredFieldsBeforeStatusChange',
                    type: 'POST',
                    data: { taskId: taskId, newStatusId: newStatusId },
                    success: function (response) {
                        if (response.isValid) {
                            // Alanlar geçerliyse, görevin durumunu güncelleyin
                            updateTaskStatus(taskId, newStatusId);
                            ui.draggable.fadeOut(function () {
                                $(this).appendTo($('.dd-list[data-statusid="' + newStatusId + '"]')).fadeIn();
                            });

                        } else {
                            // Alanlar geçerli değilse, modal ile uyarı mesajı göster
                            $('#requiredFieldModal .modal-body').text(response.message);
                            $('#requiredFieldModal').modal('show');
                        }
                    },
                    error: function () {
                        console.error('Failed to check required fields.');
                    }
                });
            } else {
                // Durum değişikliği sıraya uygun değilse, kullanıcıya bir uyarı göster
                $('#requiredFieldModal .modal-body').text("Bu durum değişikliği izin verilen bir sırayı takip etmiyor. Süreç sırasını takip ediniz.");
                $('#requiredFieldModal').modal('show');
                ui.draggable.css('top', '0').css('left', '0').fadeIn(); // Öğeyi eski konumuna geri getir
            }
        }
    });



    function updateTaskStatus(taskId, newStatusId) {
        // AJAX isteğini gönder
        $.ajax({
            url: '/Task/UpdateStatus',
            type: 'POST',
            data: { taskId: taskId, statusId: newStatusId },
            success: function (response) {
                if (response.success) {
                    console.log('Task status updated!');
                    location.reload();
                    paginateTasks();
                } else {
                    console.error('Failed to update task status.');
                }
            },
            error: function () {
                console.error('Failed to update task status.');
                // AJAX isteği başarısız olursa, bir hata mesajı göster
            }
        });
    }

    var maxTasksPerCard = 10;

    // Görevleri sayfalandırma işlevi
    function paginateTasks() {
        $('.dd-list').each(function () {
            var tasks = $(this).find('.dd-item').slice(maxTasksPerCard); // 10'dan fazla olan görevleri seç
            tasks.hide(); // Fazladan olanları gizle
            // Daha fazla görev varsa, 'Daha fazla göster' bağlantısını ekleyebilirsiniz
            if (tasks.length > 0) {
                var moreLink = $('<a href="#" class="show-more-tasks">Daha fazla göster...</a>');
                $(this).after(moreLink);
                moreLink.on('click', function (e) {
                    e.preventDefault();
                    tasks.slice(0, maxTasksPerCard).fadeIn(); // Sonraki 10 görevi göster
                    $(this).remove(); // 'Daha fazla göster' bağlantısını kaldır
                });
            }
        });
    }

    // Sayfa yüklendiğinde ve görev listesi değiştiğinde sayfalandırmayı çağır
    $(document).ready(function () {
        paginateTasks();
    });

    function showHiddenTasks(statusKey) {
        $('ol.hidden-tasks[data-statusid="' + statusKey + '"]').toggle();
    }

</script>
