@model List<TaskComp>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>:: Lucid HR BS5 :: TaskBoard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lucid HR & Project Admin Dashboard Template with Bootstrap 5x">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">


    <link rel="icon" href="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/horizontal/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/plugin/nestable/jquery-nestable.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/css/main.css">

</head>
<body>

    <div class="block-header py-lg-4 py-3">
        <div class="row g-3">
            <div class="col-md-6 col-sm-12">
                <h2 class="m-0 fs-5"><a href="javascript:void(0);" class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> TaskBoard</h2>
                <ul class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Lucid</a></li>
                    <li class="breadcrumb-item">Apps</li>
                    <li class="breadcrumb-item active">TaskBoard</li>
                </ul>
            </div>
        </div>
    </div>
    @{
        // Null olmayan ve istenen alanda null olmayan verileri filtreleme
        var validTasks = Model.Where(task => task.Status != null && task.Status.StatusName != null);

        // GroupBy işlemi için verilerin kontrol edilmiş hali
        var statusGroups = validTasks.GroupBy(task => task.Status.StatusName);
    }

    @*@{
       // var statusGroups = Model.GroupBy(task => task.Status.StatusName);

        var tasksWithNonNullStatus = Model.Where(task => task.Status != null && !string.IsNullOrEmpty(task.Status.StatusName));
        var statusGroups = tasksWithNonNullStatus.GroupBy(task => task.Status.StatusName);
    }*@

    <div class="row g-3">
        @foreach (var statusGroup in statusGroups)
        {
            <div class="col-lg-4 col-md-12">
                @{
                    string statusClass = "";
                    switch (statusGroup.Key)
                    {
                        case "Değerlendirilen":
                            statusClass = "planned_task";
                            break;
                        case "İletişim":
                            statusClass = "progress_task";
                            break;
                        case "Teklif":
                            statusClass = "completed_task";
                            break;
                        case "Demo":
                            statusClass = "planned_task";
                            break;
                        case "Görüşmeler":
                            statusClass = "progress_task";
                            break;
                        default:
                            statusClass = "";
                            break;
                    }
                }
                <div class="card mb-4 @statusClass">
                    <div class="card-header">
                        <h6 class="card-title">@statusGroup.Key</h6>
                        <ul class="header-dropdown">
                            <li>
                                @if (statusGroup.Key == "Değerlendirilen") //sadece değerlendirilen kısmında ekleme butonu var. diğerlerinde yok. Timeline ı görebilmek için
                                {
                                    <a href="/Task/TaskAdd"><i class="fa fa-plus-circle"></i></a>
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                @foreach (var task in statusGroup)
                                {
                                    <li class="dd-item" data-id="@task.TaskId">
                                        <div class="dd-handle">
                                            <h6>@task.Title</h6>
                                            <p>
                                                @if (task.CustomerId != null)
                                                {
                                                    <span>@task.Customer.Name @task.Customer.Surname</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">No Customer</span>
                                                }
                                            </p>
                                            <p>
                                                @if (task.EmployeeId != null)
                                                {
                                                    <span>@task.Employee.EmployeeName @task.Employee.EmployeeSurname</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">No Employee</span>
                                                }
                                            </p>
                                            <a href="/Task/TaskEdit/@task.TaskId" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline">
                                                    <div class="col-md-3 col-sm-4"><i class="fa fa-file-text-o"></i></div>
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-outline" data-taskId="@task.TaskId" onclick="confirmDelete(this)">
                                                <div class="col-md-3 col-sm-4"> <i class="fa fa-trash-o"></i></div>
                                            </button>
                                            <a href="/Task/TaskDetail/@task.TaskId" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline">
                                                    <div class="col-md-3 col-sm-4"> <i class="fa fa-align-left"></i></div>
                                                </button>
                                            </a>
                                        </div>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <!-- core js file -->
    <script src="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
    <script src="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/plugin/nestable/jquery.nestable.min.js"></script>

    <!-- page js file -->
    <script src="/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

    <script>
        function confirmDelete(button) {
            // Kullanıcıya silme işlemini onaylamasını sor
            if (confirm('Are you sure you want to dele te this Task?')) {
                var taskId = button.getAttribute('data-taskId');
                var form = document.createElement('form');
                form.action = '/Task/TaskDelete/' + taskId;
                form.method = 'post';
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>


    <script>
        $(function () {
            $('.dd').nestable();

            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($this.nestable('serialize'));

                $this.parents('.body').find('textarea').val(serializedData);
            });
        });
    </script>

</body>
</html>