@model CrmCorner.Models.TaskComp
@{
    ViewData["Title"] = "TaskEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<style>
    /* Radio butonunu gizle */
    .radio-button {
        display: none;
    }

        /* Özel radio buton görünümü */
        .radio-button + label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            display: inline-block;
            color: #333;
            margin-right: 15px; /* Sağdaki butonlardan boşluk */
        }

            /* Özel görünüm için bir daire */
            .radio-button + label::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                border: 2px solid #9e9e9e;
                border-radius: 50%;
                background-color: #fff;
            }

        /* Seçili radio buton için iç daire */
        .radio-button:checked + label::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #007bff;
        }

        /* Radio butonu odaklanma durumu */
        .radio-button:focus + label::before {
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
        }

        /* Label metni üzerine gelindiğinde veya odaklanıldığında */
        .radio-button + label:hover::before,
        .radio-button + label:focus::before {
            border-color: #007bff;
        }

    /* Güncelle butonu altındaki ve üstündeki file input arasına mesafe eklemek için */
    .form-group {
        margin-bottom: 15px;
    }
   
</style>

<form asp-action="TaskEdit" asp-controller="Task" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="TaskId" />
    <div class="row">
        @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewBag.ErrorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }

    <div class="col-lg-6">
        <!-- Başlık, Değer Teklifi, Açıklama -->
        <div class="form-group">
            <label asp-for="Title" class="control-label">Başlık</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValueOrOffer" class="control-label">Değer Teklifi</label>
            <div class="input-group">
                <input asp-for="ValueOrOffer" class="form-control" />
                <select class="form-control custom-select-size" style="max-width:20%;" id="selectedCurrency" name="SelectedCurrency">
                    <option value="$">$</option>
                    <option value="£">£</option>
                    <option value="€">€</option>
                    <option value="₺">₺</option>
                </select>
            </div>
            <span asp-validation-for="ValueOrOffer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Açıklama</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        </br>
        <!-- Olumlu/Olumsuz Seçimi -->

        <div class="form-group">
            <label class="control-label"><b>Süreç Durumu</b></label>
            <!-- Olumlu radio butonu -->
            <div class="form-check">
                <input class="form-check-input radio-button" type="radio" name="Outcomes" id="OlumluOutcome" value="Olumlu" @(Model.Outcomes == CrmCorner.Models.Enums.OutcomeType.Olumlu ? "checked" : "")>
                <label class="form-check-label" for="OlumluOutcome">Olumlu</label>
            </div>
            <!-- Süreçte radio butonu -->
            <div class="form-check">
                <input class="form-check-input radio-button" type="radio" name="Outcomes" id="SurecteOutcome" value="Surecte" @(Model.Outcomes == CrmCorner.Models.Enums.OutcomeType.Surecte ? "checked" : "")>
                <label class="form-check-label" for="SurecteOutcome">Süreçte</label>
            </div>
            <!-- Olumsuz radio butonu -->
            <div class="form-check">
                <input class="form-check-input radio-button" type="radio" name="Outcomes" id="NegativeOutcome" value="Olumsuz" @(Model.Outcomes == CrmCorner.Models.Enums.OutcomeType.Olumsuz ? "checked" : "")>
                <label class="form-check-label" for="NegativeOutcome">Olumsuz</label>
            </div>

        </div>

        <div class="form-group" id="NegativeReasonSection" style="@(Model.Outcomes == CrmCorner.Models.Enums.OutcomeType.Olumsuz ? "display:block;" : "display:none;")">
            <label asp-for="NegativeReason" class="control-label">Olumsuz Nedeni</label>
            <textarea asp-for="NegativeReason" class="form-control" rows="3"></textarea>
            <span asp-validation-for="NegativeReason" class="text-danger"></span>
        </div>


        <!-- OutcomeStatus Seçimi -->
        <div class="form-group" id="OutcomeStatusSection" style="display:none;">
            <label class="control-label"><b>Sonuç Durumu</b></label>
            <div class="form-check">
                <input class="form-check-input radio-button" type="radio" name="OutcomeStatus" id="WonStatus" value="Won" @(Model.OutcomeStatus == CrmCorner.Models.Enums.OutcomeTypeSales.Won ? "checked" : "")>
                <label class="form-check-label" for="WonStatus">Kazanıldı</label>
            </div>
            <div class="form-check">
                <input class="form-check-input radio-button" type="radio" name="OutcomeStatus" id="LostStatus" value="Lost" @(Model.OutcomeStatus == CrmCorner.Models.Enums.OutcomeTypeSales.Lost ? "checked" : "")>
                <label class="form-check-label" for="LostStatus">Kaybedildi</label>
            </div>
        </div>

    </div>

        <div class="col-lg-6">
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Müşteri</label>
                <select id="customerDropdown" asp-for="CustomerId" class="form-select" aria-label="Default select example">
                    <option value="">Lütfen seçiniz</option>
                    @foreach (var item in ViewBag.Customer)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Görüşmeyi Alan</label>
                <select asp-for="UserId" asp-items="ViewBag.Users" class="form-control">
                    <option value="">Lütfen seçiniz</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Görüşmeyi Gerçekleştiren</label>
                <select asp-for="AssignedUserId" asp-items="ViewBag.Users" class="form-control">
                    <option value="">Lütfen seçiniz</option>
                </select>
                <span asp-validation-for="AssignedUserId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Güncel Durum</label>
                <select asp-for="StatusId" asp-items="ViewBag.Status" class="form-select select2" aria-label="Default select example"> <option value="">Lütfen seçiniz</option></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <div class="form-group">
                    <label asp-for="SalesDone" class="control-label">Planlanan Satış Kapatma Tarihi</label>
                    <input asp-for="SalesDone" type="date" class="form-control" value="@Model.SalesDone?.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="SalesDone" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-6">
                <div class="form-group">
                    <label asp-for="FinalSalesDone" class="control-label">Gerçekleşen Satış Kapatma Tarihi</label>
                    <input asp-for="FinalSalesDone" type="date" class="form-control" value="@Model.FinalSalesDone?.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="FinalSalesDone" class="text-danger"></span>
                </div>
            </div>

            </br>
            <div class="form-group">
                <input asp-for="IsFinalDecisionMaker" class="form-check-input" />
                <label asp-for="IsFinalDecisionMaker" class="control-label">Son Karar Mercii İle Görüşüldü</label>
                <span asp-validation-for="IsFinalDecisionMaker" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="GÜNCELLE" class="btn btn-primary" />
    </div>
</form>

<!-- Mevcut dosyaları listeleme -->
<div class="card mb-2">
    <div class="card-header">
        <h6 class="card-title">Yüklenmiş Dosyalar</h6>
    </div>
    <div class="card-body">
        <div class="card-header">
            <h6 class="card-title">Dosyalar & Belgeler & Sözleşmeler</h6>
            <br />
            @using (Html.BeginForm("UploadFileEditPage", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <input type="file" name="file" />
                    <input type="hidden" name="taskId" value="@Model.TaskId" />
                </div>
                <hr>
                <div class="form-group">
                    <input type="submit" value="Yükle" class="btn btn-primary" />
                </div>
            }

        </div>
        @if (Model.FileAttachments != null && Model.FileAttachments.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Dosya Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.FileAttachments)
                    {
                        <tr>
                            <td><div class="ellipsis" title="@file.FileName">@file.FileName</div></td>
                            <td>
                                <a href="@Url.Action("DownloadFile", "Task", new { fileAttachmentId = file.FileAttachmentId })"><span class="badge bg-success">İndir</span></a>
                                <a href="@Url.Action("DeleteFileEditPage", "Task", new { fileAttachmentId = file.FileAttachmentId })"><span class="badge bg-danger">Sil</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Yüklenmiş dosya bulunmamaktadır.</p>
        }
    </div>
</div>

<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>
<script>
    $(document).ready(function () {
        function toggleOutcomeStatusSection() {
            var selectedStatus = $("#StatusId option:selected").text();
            if (selectedStatus === "Satış Tamamlandı") {
                $("#OutcomeStatusSection").show();
            } else {
                $("#OutcomeStatusSection").hide();
            }
        }
        
        function toggleNegativeReasonSection() {
            var selectedOutcome = $('input[name="Outcomes"]:checked').val();
            if (selectedOutcome === 'Olumsuz') {
                $('#NegativeReasonSection').show();
            } else {
                $('#NegativeReasonSection').hide();
            }
        }

        function validateOutcomeStatus() {
            var selectedOutcome = $('input[name="Outcomes"]:checked').val();
            var wonStatus = $('#WonStatus');
            var lostStatus = $('#LostStatus');

            if (selectedOutcome === 'Olumsuz' || selectedOutcome === 'Surecte') {
                wonStatus.prop('disabled', true);
                lostStatus.prop('disabled', false);
            } else if (selectedOutcome === 'Olumlu') {
                wonStatus.prop('disabled', false);
                lostStatus.prop('disabled', true);
            } else {
                wonStatus.prop('disabled', false);
                lostStatus.prop('disabled', false);
            }
        }

        function toggleFileUpload() {
            var selectedStatus = $("#StatusId option:selected").text();
            if (selectedStatus === "Sözleşme Aşamasında" || selectedStatus === "Teklif Gönderildi" || selectedStatus === "Satış Tamamlandı") {
                $("#file").prop('disabled', false);
            } else {
                $("#file").prop('disabled', true);
            }
        }

        // Status dropdown değişikliğinde fonksiyonları çağır
        $("#StatusId").change(function () {
            toggleOutcomeStatusSection();
            toggleFileUpload();
        });

        // Radio buton değişikliğinde fonksiyonları çağır
        $('input[name="Outcomes"]').change(function () {
            toggleNegativeReasonSection();
            validateOutcomeStatus();
        });

        // Sayfa yüklendiğinde fonksiyonları çağır
        toggleOutcomeStatusSection();
        toggleNegativeReasonSection();
        validateOutcomeStatus();
        toggleFileUpload(); // Sayfa yüklendiğinde dosya yükleme durumu kontrolü
    });
  
</script>
