@model CrmCorner.Models.TaskComp
@{
    ViewData["Title"] = "TaskAdd";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                @foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible my-custom-alert" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<style>
    .my-custom-alert {
        border-radius: 5px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        padding: 10px 20px;
    }
</style>

<form asp-action="TaskAdd" asp-controller="Task" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlık</label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueOrOffer" class="control-label">Değer Teklifi</label>
                <div class="input-group">
                    <input asp-for="ValueOrOffer" class="form-control" />
                    <select class="form-control custom-select-size" style="max-width:20%;" id="selectedCurrency" name="SelectedCurrency">
                        <option value="$">$</option>
                        <option value="£">£</option>
                        <option value="€">€</option>
                        <option value="₺">₺</option>
                    </select>
                </div>
                <span asp-validation-for="ValueOrOffer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <!-- Olumlu/Olumsuz Seçimi -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Outcomes" id="OlumluOutcome" value="Olumlu" checked>
                    <label class="form-check-label" for="OlumluOutcome">Olumlu</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Outcomes" id="SurecteOutcome" value="Surecte">
                    <label class="form-check-label" for="SurecteOutcome">Süreçte</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Outcomes" id="NegativeOutcome" value="Olumsuz">
                    <label class="form-check-label" for="NegativeOutcome">Olumsuz</label>
                </div>
            </div>
            <div class="form-group" id="NegativeReasonSection" style="display:none;">
                <label asp-for="NegativeReason" class="control-label">Olumsuz Nedeni</label>
                <textarea asp-for="NegativeReason" class="form-control" rows="3"></textarea>
                <span asp-validation-for="NegativeReason" class="text-danger"></span>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Müşteri</label>
                <select asp-for="CustomerId" asp-items="ViewBag.Customer" class="form-select select2" aria-label="Default select example" required>
                    <option value="">Lütfen seçiniz</option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Görüşmeyi Alan</label>
                <select asp-for="UserId" asp-items="ViewBag.Users" class="form-control" required>
                    <option value="">Lütfen seçiniz</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Görüşmeyi Gerçekleştiren</label>
                <select asp-for="AssignedUserId" asp-items="ViewBag.Users" class="form-control">
                    <option value="">Lütfen seçiniz</option>
                </select>
                <span asp-validation-for="AssignedUserId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <label class="form-label">Güncel Durum</label>
                <select asp-for="StatusId" class="form-select select2" aria-label="Default select example" required>
                    @foreach (var item in ViewBag.Status)
                    {
                        if (item.Value == "1")
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value" disabled>@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-6">
                <div class="form-group">
                    <label asp-for="SalesDone" class="control-label">Planlanan Satış Kapatma Tarihi</label>
                    <input asp-for="SalesDone" type="date" class="form-control" />
                    <span asp-validation-for="SalesDone" class="text-danger"></span>
                </div>
            </div>
            </br>
            <div class="form-group">
                <input asp-for="IsFinalDecisionMaker" class="form-check-input" />
                <label asp-for="IsFinalDecisionMaker" class="control-label">Son Karar Mercii İle Görüşüldü</label>
                <span asp-validation-for="IsFinalDecisionMaker" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label for="HeardFrom">Bu görüşme kaydını nereden edindiniz?</label>
                <input type="text" class="form-control" id="HeardFrom" name="HeardFrom" asp-for="HeardFrom" />
                <span asp-validation-for="HeardFrom" class="text-danger"></span>
            </div>

        </div>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="EKLE" class="btn btn-primary" />
    </div>
</form>

<!-- JavaScript kodları -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script>
    $(document).ready(function () {
        function toggleNegativeReasonSection() {
            var outcome = $('input[type="radio"][name="Outcomes"]:checked').val();
            // "Olumsuz" değeri string olarak kontrol edilir
            if (outcome === 'Olumsuz') { // Enum değeri doğrudan string olarak kontrol edilir.
                $('#NegativeReasonSection').show();
            } else {
                $('#NegativeReasonSection').hide();
            }
        }

        // Outcome değiştiğinde fonksiyonu çağır
        $('input[type="radio"][name="Outcomes"]').change(toggleNegativeReasonSection);

        // Sayfa yüklendiğinde fonksiyonu çağırarak başlangıç durumuna göre ayarla
        toggleNegativeReasonSection();
    });
</script>
